[Desktop Entry]
Encoding=UTF-8
Type=KonsoleApplication
Name=Linux Console
Name[x-test]=xxLinux Consolexx
Comment=New Linux Console
Comment[x-test]=xxNew Linux Consolexx
Exec=bash
Schema=Linux.schema
#VGA
Font=6
Term=linux
KeyTab=linux
Cwd=
