[Desktop Entry]
Type=KonsoleApplication
Name=Linux
Name[eo]=Linukso
Name[he]=סקוניל
Name[ko]=리눅스
Name[mk]=Линукс
Name[pl]=Linuks
Name[ro]=Consolă Linux
Name[ta]=Ä¢Éì
Comment=Linux Console
Comment[ca]=Consola Linux
Comment[cs]=Linuxová konzole
Comment[da]=Linux Konsol
Comment[de]=Linux-Konsole
Comment[el]=Κονσόλα Linux
Comment[eo]=Linuks-konzolo
Comment[es]=Consola Linux
Comment[et]=Linux'i konsool
Comment[fi]=Linux-konsoli
Comment[fr]=Console Linux
Comment[gl]=Consola de Linux
Comment[he]=סקוניל ףוסמ
Comment[hr]=Linux konzola
Comment[hu]=Linux-konzol
Comment[is]=Aðalskjár Linux
Comment[it]=Console Linux
Comment[ja]=Linuxコンソール
Comment[ko]=리눅스 콘솔
Comment[lt]=Linux Konsolė
Comment[lv]=Linux Konsole
Comment[mk]=Линукс конзола
Comment[nl]=Linuxconsole
Comment[no]=Linux-konsoll
Comment[no_NY]=Linux-konsoll
Comment[oc]=Consola Linux
Comment[pl]=Konsola linuksowa
Comment[pt]=Consola de Linux
Comment[pt_BR]=Console do Linux
Comment[ro]=Linux
Comment[ru]=Консоль Linux
Comment[sk]=Linuxová konzola
Comment[sl]=Konzola z Linuxu
Comment[sr]=Linux Konzola
Comment[sv]=Linuxkonsol
Comment[ta]=Ä¢Éì Ó¨ÉÂõ
Comment[tr]=Linux Konsolu
Comment[uk]=Консоль Linux
Comment[zh_CN.GB2312]=Linux 控制台
Comment[zh_TW.Big5]=Linux 操控台
Exec=bash
Schema=Linux.schema
#VGA
Font=6
