[Desktop Entry]
Encoding=UTF-8
Type=KonsoleApplication
Name=Linux Console
Name[af]=linux konsole
Name[ar]=لوحة أوامر لينكس
Name[az]=Linuks Konsolu
Name[be]=Кансоля Linux
Name[bg]=Конзола на Linux
Name[bs]=Linux konzola
Name[cs]=Linuxová konzole
Name[da]=Linux-konsol
Name[de]=Linux-Konsole
Name[el]=Κονσόλα Linux
Name[eo]=Linuks-konzolo
Name[es]=Consola de Linux
Name[et]=Linuxi konsool
Name[eu]=Linux Konsola
Name[fi]=Linux-konsoli
Name[fr]=Console Linux
Name[he]=מסוף לינוקס
Name[hu]=Parancsértelmező (Linux-emuláció)
Name[is]=Skjáhermir Linux
Name[it]=Console Linux
Name[ja]=Linuxコンソール
Name[lt]=Linux konsolė
Name[lv]=Linux Konsole
Name[nb]=Linux-konsoll
Name[nn]=Linux-konsoll
Name[pl]=Konsola linuksowa
Name[pt]=Consola do Linux
Name[pt_BR]=Console do Linux
Name[ro]=Consolă Linux
Name[ru]=Консоль Linux
Name[sk]=Linuxová konzola
Name[sl]=Konzola za Linux
Name[sv]=Linux-konsoll
Name[ta]=Ä¢ÉìÍ Ó¨ÉÂõ
Name[th]=คอนโซลลีนุกซ์
Name[tr]=Linux Konsolu
Name[uk]=Консоль Linux
Name[xx]=xx
Name[zh_CN]=Linux 控制台
Name[zh_TW]=Linux 主控台
Name[zu]=Linux Khonsole
Comment=New Linux Console
Comment[af]=nuwe linux konsole
Comment[ar]=كونسول لينكس جديد
Comment[be]=Новая кансоля Linux
Comment[bg]=Нова Конзола на Linux
Comment[bs]=Nova Linux konzola
Comment[cs]=Nová Linuxová konzole
Comment[da]=Ny Linux-konsol
Comment[de]=Neue Linux-Konsole
Comment[el]=Νέα Κονσόλα Linux
Comment[eo]=Nova Linuks-konzolo
Comment[es]=Nueva consola de Linux
Comment[et]=Uus Linuxi konsool
Comment[eu]=Linux Konsola Berria
Comment[fi]=Uusi Linux-konsoli
Comment[fr]=Nouvelle console Linux
Comment[he]=מסוף לינוקס חדש
Comment[hu]=Új parancsértelmező (Linux-emuláció)
Comment[is]=Nýr Linux skjáhermir
Comment[it]=Nuova console Linux
Comment[ja]=新規 Linuxコンソール
Comment[lt]=Nauja Linux konsolė
Comment[lv]=Jauna Linux Konsole
Comment[nb]=Ny Linux-konsoll
Comment[nl]=Nieuwe linuxconsole
Comment[nn]=Ny Linux-konsoll
Comment[pl]=Konsola linuksowa (nowa)
Comment[pt]=Nova Consola de Linux
Comment[pt_BR]=Novo Console do Linux
Comment[ro]=Consolă Linux nouă
Comment[ru]=Новая консоль
Comment[sk]=Nová linuxová konzola
Comment[sl]=Nova konzola za Linux
Comment[sv]=Ny Linux-konsoll
Comment[th]=เปิดคอนโซลลีนุกซ์ใหม่
Comment[tr]=Yeni Linux Konsolu
Comment[uk]=Нова консоль Linux
Comment[ven]=Linux Console ntswa
Comment[vi]=Linux Console mới
Comment[xh]=Isakhelo Esiqulathe Ibhodi Yezitshixo se Linux
Comment[xx]=xx
Comment[zh_CN]=新建 Linux 控制台
Comment[zh_TW]=新增 Linux 主控台
Comment[zu]=Entsha Linux Khonsole
Exec=bash
Schema=Linux.schema
#VGA
Font=6
Term=linux
KeyTab=linux
Cwd=
