[Desktop Entry]
Type=KonsoleApplication
Name=Midnight Commander
Name[af]=middernag kommandeur
Name[eo]=Meznokta komandanto
Name[ko]=미드나잇 커멘더
Name[lv]=Pusnakts Komandieris
Name[xh]=Umyaleli waphakathi kobusuku
Name[xxx]=xx
Comment=Midnight Commander File Manager
Comment[az]=Midnight Commander Fayl İdarəçisi
Comment[cs]=Midnight Commander (správce souborů)
Comment[da]=Midnight Commander filhåndtering
Comment[he]=מנהל הקבצים Midnight Commander
Comment[hu]=Midnight Commander fájlkezelő
Comment[sv]=Filhanteraren Midnight Commander
Exec=mc -c
Cwd=
