[Desktop Entry]
Encoding=UTF-8
Type=KonsoleApplication
Name=Midnight Commander
Name[af]=Middernag Kommandeur
Name[eo]=Meznokta komandanto
Name[fa]=فرمان‌دار نیمه شب
Name[ko]=미드나잇 커멘더
Name[lv]=Pusnakts Komandieris
Name[nso]=Molaedi wa Bosegogare
Name[th]=มิดไนท์คอมมานเดอร์
Name[ven]=Muhulwane wa vhukati ha vhusiku
Name[xh]=Umyaleli Waphakathi kobusuku
Name[zu]=Umyaleli waphakathi nobusuku
Comment=New Midnight Commander
Comment[af]=Nuwe Middernag Kommandeur
Comment[be]=Новы Midnight Commander
Comment[bg]=Нов Полунощтен Командир
Comment[bs]=Novi Midnight Commander
Comment[ca]=Nou Midnight Commander
Comment[cs]=Nový Midnight Commander
Comment[da]=Ny Midnight Commander
Comment[de]=Neuer Midnight Commander
Comment[el]=Νέος Midnight Commander
Comment[eo]=Dosieradministrilo "Meznokta komandanto"
Comment[es]=Nuevo Midnight Commander
Comment[et]=Uus Midnight Commander
Comment[eu]=Midnight Commander Berria
Comment[fa]=فرمان‌دار نیمه‌شب
Comment[fi]=Uusi Midnight Commander
Comment[fr]=Nouveau Midnight Commander
Comment[he]=משימת Midnight Commander חדשה
Comment[hr]=Novi Midnight Commander
Comment[hu]=Új Midnight Commander
Comment[it]=Nuovo Midnight Commander
Comment[ja]=新規 Midnight Commander
Comment[lt]=Naujas Midnight Commander
Comment[lv]=Jauns Pusnakts Komandieris
Comment[mt]=Midnight Commander ġdid
Comment[nb]=Ny Midnight Commander
Comment[nl]=nieuwe Midnight Commander
Comment[nn]=Ny Midnight Commander
Comment[nso]=Moladi yo Moswa wa Bosegogare
Comment[pl]=Midnight Commander
Comment[pt]=Novo Midnight Commander
Comment[pt_BR]=Novo Midnight Commander
Comment[ro]=Midnight Commander nou
Comment[ru]=Новое окно Midnight Commander
Comment[sk]=Nový Midnight Commander
Comment[sl]=Novi Midnight Commander
Comment[sv]=Ny Midnight Commander
Comment[ta]=Ò¾¢Â §¸¡ôÒ §ÁÄ¡Ç÷
Comment[th]=มิดไนท์คอมมานเดอร์ แบบสิทธิ์ผู้ดูแลระบบ
Comment[tr]=Yeni Midnight Commander
Comment[uk]=Новий Midnight Commander
Comment[ven]=Muhulwane wa vhukati ha vhusiku
Comment[vi]=Midnight Commander mới
Comment[zh_CN]=新建 Midnight Commander
Comment[zh_TW]=新增 Midnight Commander
Comment[zu]=Umyaleli Waphakathi nobusuku Omusha
Exec=mc -c
Cwd=
