[Desktop Entry]
Encoding=UTF-8
Type=KonsoleApplication
Name=Screen Session
Name[x-test]=xxScreen Sessionxx
Comment=New Screen Session
Comment[x-test]=xxNew Screen Sessionxx
Exec=screen
Cwd=
