[Desktop Entry]
Type=KonsoleApplication
Name=Screen Session
Name[af]=Screen Sessie
Name[ar]=جلسة الشاشة
Name[az]=Screen İclası
Name[be]=Сесія Screen
Name[bn]=স্ক্রীন সেশন
Name[br]=Dalc'h Screen
Name[bs]=Sesija ekrana
Name[ca]=Sessió de la pantalla
Name[cs]=Screen relace
Name[csb]=Sesëjô screena
Name[cy]=Sesiwn Sgrîn
Name[da]=Skærmsession
Name[de]=Screen-Sitzung
Name[el]=Συνεδρία screen
Name[eo]=Seanco de komandinterpretilo "Screen"
Name[es]=Sesión de Screen
Name[et]=Screen'i seanss
Name[eu]=Pantailako saioa
Name[fa]=نشست پرده
Name[fi]=Screen-istunto
Name[fr]=Session Screen
Name[fy]=Skerm-sesje
Name[ga]=Seisiún Scáileáin
Name[gl]=Sesión de Pantalla
Name[he]=מנהל מסכים
Name[hi]=स्क्रीन सत्र
Name[hr]=Zaslonska sesija
Name[hu]='Screen'-munkafolyamat
Name[is]=Skjáseta
Name[it]=Sessione di Screen
Name[ja]=スクリーンセッション
Name[ka]=ეკრანის სეანსი
Name[kk]=Screen сеансы
Name[km]=សម័យ​អេក្រង់
Name[lt]=Screen sesija
Name[lv]=Screen Sesija
Name[mk]=Екранска сесија
Name[mn]=Screen-Суулт
Name[ms]=Sesi Skrin
Name[mt]=Sessjoni ta' skrin
Name[nb]=Skjermøkt
Name[nds]=Screen-Törn
Name[ne]=पर्दा सत्र
Name[nl]=Screen-sessie
Name[nn]=Skjermøkt
Name[nso]=Tiragalo ya Pontsho
Name[pa]=ਸਕਰੀਨ ਸ਼ੈਸ਼ਨ
Name[pl]=Sesja screena
Name[pt]=Sessão do Screen
Name[pt_BR]=Sessão do Screen
Name[ro]=Sesiune "screen"
Name[ru]=Сеанс Screen
Name[rw]=Umukoro wa Mugaragaza
Name[se]=Šearbmabargovuorru
Name[sk]=Relácia screen
Name[sl]=Zaslonska seja
Name[sr]=Екранска сесија
Name[sr@Latn]=Ekranska sesija
Name[sv]=Session med screen
Name[ta]=திரை கால அளவு
Name[te]=తెర సెషన్
Name[tg]=Нишасти сафҳа
Name[th]=เซสชันหน้าจอ
Name[tr]=Ekran Oturumu
Name[tt]=Screen Sessise
Name[uk]=Сеанс екрана
Name[uz]=Screen seansi
Name[uz@cyrillic]=Screen сеанси
Name[ven]=Tshipida tsha tshikirini
Name[vi]=Phiên chạy Màn hình
Name[wa]=Session «screen»
Name[xh]=Isiqendu Sekhusi
Name[zh_CN]=屏幕会话
Name[zh_TW]=螢幕工作階段
Name[zu]=Isiqendu seskrini
Comment=New Screen Session
Comment[af]=Nuwe Screen Sessie
Comment[ar]=جلسة شاشة جديدة
Comment[az]=Yeni Screen İclası
Comment[be]=Новая сесія Screen
Comment[bg]=Нова сесия
Comment[bn]=নতুন স্ক্রীন সেশন
Comment[br]=Dalc'h Screen nevez
Comment[bs]=Nova sesija ekrana
Comment[ca]=Nova pantalla de la sessió
Comment[cs]=Nová 'screen' relace
Comment[csb]=Nowô sesëjô programë "screen"
Comment[cy]=Sesiwn Sgrîn Newydd
Comment[da]=Ny skærmsession
Comment[de]=Neue Sitzung des Terminalprogramms Screen
Comment[el]=Νέα συνεδρία screen
Comment[eo]=Nova seanco de programo "Screen"
Comment[es]=Nueva sesión de Screen
Comment[et]=Uus screen'i seanss
Comment[eu]=Pantailako saio berria
Comment[fa]=نشست پردۀ جدید
Comment[fi]=Uusi Screen-istunto
Comment[fr]=Nouvelle session Screen
Comment[fy]=Nije Skerm-sesje
Comment[ga]=Seisiún Nua Scáileáin
Comment[gl]=Nova Sesión de Pantalla
Comment[he]=מנהל מסכים חדש
Comment[hr]=Nova zaslonska sesija
Comment[hu]=Új 'Screen'
Comment[is]=Ný skjáseta
Comment[it]=Nuova sessione di Screen
Comment[ja]=新規スクリーンセッション
Comment[kk]=Жаңа Screen сеансты ашу
Comment[km]=សម័យ​អេក្រង់​ថ្មី
Comment[lt]=Nauja Screen sesija
Comment[lv]=Jauna Screen Sesija
Comment[mk]=Нова екранска сесија
Comment[mn]=Терминал-програмын шинэ Screen суулт
Comment[ms]=Sesi Skrin Baru
Comment[mt]=Sessjoni ġdida ta' skrin
Comment[nb]=Ny skjermøkt
Comment[nds]=Niegen Screen-Törn
Comment[ne]=नयाँ पर्दा सत्र
Comment[nl]=nieuwe Screen-sessie
Comment[nn]=Ny skjermøkt
Comment[nso]=Tiragalo ye Ntshwa ya Pontsho
Comment[pa]=ਨਵਾਂ ਸਕਰੀਨ ਸ਼ੈਸ਼ਨ
Comment[pl]=Nowa sesja programu "screen"
Comment[pt]=Nova Sessão do Screen
Comment[pt_BR]=Nova Sessão do Screen
Comment[ro]=Sesiune "screen" nouă
Comment[ru]=Новое окно Screen
Comment[rw]=Umukoro wa Mugaragaza Mushya
Comment[se]=Ođđa šearbmabargovuorru
Comment[sk]=Nová relácia screen
Comment[sl]=Nova zaslonska seja
Comment[sr]=Нова екранска сесија
Comment[sr@Latn]=Nova ekranska sesija
Comment[ss]=Sigceme seskrini lesisha
Comment[sv]=Ny session med screen
Comment[ta]=புதிய திரை கால அளவு
Comment[te]=కొత్త తెర సెషన్
Comment[tg]=Нави нишасти сафҳа
Comment[th]=เปิดเซสชันหน้าจอใหม่
Comment[tr]=Yeni Ekran Oturumu
Comment[tt]=Yaña Screen-Sessi
Comment[uk]=Новий сеанс екрана
Comment[uz]=Yangi screen seansi
Comment[uz@cyrillic]=Янги screen сеанси
Comment[ven]=Tshipida tsha tshikirini tshiswa
Comment[vi]=Mở một Phiên chạy Màn hình mới
Comment[wa]=Novele session «screen»
Comment[zh_CN]=新建屏幕会话
Comment[zh_TW]=新增螢幕工作階段
Comment[zu]=Isiqendu Seskrini Esisha 
Exec=screen
Cwd=
