[Desktop Entry]
Encoding=UTF-8
Type=KonsoleApplication
Name=Shell
Name[af]=Tolk
Name[ar]=المحارة
Name[ca]=Intèrpret de comandaments
Name[csb]=Pòwłoka
Name[cy]=Plisgyn
Name[da]=Skal
Name[de]=Befehlsfenster
Name[el]=Κέλυφος
Name[es]=Terminal
Name[eu]=Shella
Name[fa]=پوسته
Name[fi]=Komentotulkki
Name[fr]=Terminal
Name[fy]=Flues
Name[ga]=Blaosc
Name[he]=מעטפת
Name[hr]=Ljuska
Name[hu]=Parancsértelmező
Name[is]=Skel
Name[ja]=シェル
Name[kk]=Қоршау-орта
Name[km]=សែល
Name[ko]=셀
Name[lt]=Apvalkalas
Name[lv]=Čaula
Name[mk]=Школка
Name[nb]=Skall
Name[nds]=Befehlsfinster
Name[ne]=शेल
Name[nn]=Skal
Name[pa]=ਸੈੱਲ
Name[pl]=Powłoka
Name[pt]=Linha de Comandos
Name[ro]=Interpretor
Name[se]=Skálžu
Name[sl]=Ukazna lupina
Name[sr]=Шкољка
Name[sr@Latn]=Školjka
Name[sv]=Skal
Name[ta]=ஓடு
Name[tg]=Пӯста
Name[tr]=Kabuk
Name[uk]=Командний рядок
Name[uz]=Терминал
Name[x-test]=xxShellxx
Name[xh]=Iqokobhe
Comment=New Shell
Comment[af]=Nuwe Tolk
Comment[ar]=محارة جديد
Comment[br]=Shell Nevez
Comment[ca]=Nou intèrpret de comandaments
Comment[cs]=Nový shell
Comment[csb]=Pòwłoka
Comment[cy]=Plisgyn Newydd
Comment[da]=Ny skal
Comment[de]=Neues Befehlsfenster
Comment[el]=Νέο κέλυφος
Comment[eo]=Nova komandinterpretilo
Comment[es]=Nuevo intérprete
Comment[et]=Uus shell
Comment[eu]=Shell berria
Comment[fa]=پوستۀ جدید
Comment[fi]=Uusi komentotulkki
Comment[fr]=Nouveau shell
Comment[fy]=Nije Flues
Comment[ga]=Blaosc Nua
Comment[gl]=Nova Shell
Comment[he]=מעטפת חדשה
Comment[hr]=Nova ljuska
Comment[hu]=Új parancsértelmező
Comment[is]=Ný skel
Comment[it]=Nuova shell
Comment[ja]=新規シェル
Comment[ka]=Shell - ახალი ფანჯარა
Comment[kk]=Жаңа көршауды ашу
Comment[km]=សែល​ថ្មី
Comment[lt]=Naujas apvalkalas
Comment[lv]=Jauna Čaula
Comment[mk]=Нова школка
Comment[ms]=Shell Baru
Comment[nb]=Nytt skall
Comment[nds]=Nieg Befehlsfinster
Comment[ne]=नयाँ शेल
Comment[nl]=Nieuwe shell
Comment[nn]=Nytt skal
Comment[pa]=ਨਵੀਂ ਸੈੱਲ
Comment[pl]=Powłoka
Comment[pt]=Nova Linha de Comandos
Comment[pt_BR]=Novo Shell
Comment[ro]=Interpretor nou
Comment[ru]=Новое окно Shell
Comment[se]=Ođđa skálžu
Comment[sl]=Nova ukazna lupina
Comment[sr]=Нова шкољка
Comment[sr@Latn]=Nova školjka
Comment[sv]=Nytt skal
Comment[ta]=புதிய ஓடு
Comment[tg]=Нави пӯста
Comment[tr]=Yeni Kabuk
Comment[uk]=Новий командний рядок
Comment[uz]=Янги терминал
Comment[x-test]=xxNew Shellxx
Comment[xh]=Iqokobhe Elitsha
Comment[zh_TW]=新增 Shell
Exec=
Cwd=
