[Desktop Entry]
Type=KonsoleApplication
Name=Shell
Name[da]=Skal
Name[el]=Κέλυφος
Name[es]=Intérprete de Comandos
Name[fi]=Komentotulkki
Name[he]=תפטעמ
Name[hr]=Ljuska
Name[hu]=Parancsértelmező
Name[is]=Skel
Name[ja]=シェル
Name[ko]=셀
Name[lt]=Apvalkalas
Name[lv]=Čaula
Name[mk]=Школка
Name[no]=Skall
Name[no_NY]=Skal
Name[pl]=Powłoka
Name[pt]=Linha de comandos
Name[ro]=Interpretor
Name[sl]=Ukazna lupina
Name[sv]=Skal
Name[ta]=µÎ
Name[tr]=Kabuk
Comment=Shell
Comment[da]=Skal
Comment[el]=Κέλυφος
Comment[eo]=Komandinterpretilo
Comment[es]=Intérprete de Comandos
Comment[fi]=Komentotulkki
Comment[he]=תפטעמ
Comment[hr]=Ljuska
Comment[hu]=Parancsértelmező
Comment[is]=Skel
Comment[ja]=シェル
Comment[ko]=셀
Comment[lt]=Apvalkalas
Comment[lv]=Čaula
Comment[mk]=Школка
Comment[no]=Skall
Comment[no_NY]=Skal
Comment[pl]=Powłoka
Comment[pt]=Linha de comandos
Comment[ro]=Interpretor de comenzi
Comment[ru]=командная строка
Comment[sk]=Príkazový riadok
Comment[sl]=Ukazna lupina
Comment[sv]=Skal
Comment[ta]=µÎ
Comment[tr]=Kabuk
Comment[uk]=Командний рядок
Exec=
