[Desktop Entry]
Type=KonsoleApplication
Name=Shell
Name[fi]=Komentotulkki
Name[hu]=Parancsértelmező
Name[ja]=シェル
Name[no]=Skall
Name[no_NY]=Skal
Name[pt]=Linha de comandos
Name[ro]=Interpretor
Name[sl]=Ukazna lupina
Name[sv]=Skal
Comment=Shell
Comment[eo]=Komandinterpretilo
Comment[fi]=Komentotulkki
Comment[hu]=Parancsértelmező (shell)
Comment[ja]=シェル
Comment[no]=Skall
Comment[no_NY]=Skal
Comment[pt]=Linha de comandos
Comment[ro]=Interpretor de comenzi
Comment[sl]=Ukazna lupina
Comment[sv]=Skal
Exec=
