[Desktop Entry]
Type=KonsoleApplication
Name=Root Console
Name[az]=Ali İstifadəçi Konsolu
Name[da]=Root-konsol
Name[he]=מסוף Root
Name[hu]=Parancsértelmező (rendszergazdaként)
Name[sv]=Root-konsoll
Comment=Console for Administrator
Comment[az]=İdarəçi konsolu
Comment[da]=konsol for administratoren
Comment[he]=מסוף לניהול המערכת
Comment[hu]=Parancsértelmező ablak rendszergazdai jogosultsággal
Comment[nl]=Console voor de systeembeheerder
Comment[sv]=Konsoll för administratör
Exec=su
Schema=BlackOnLightYellow.schema
#Schema=Linux.schema
#VGA
#Font=6
Cwd=
