[Desktop Entry]
Encoding=UTF-8
Type=KonsoleApplication
Name=Root Console
Name[af]=Root Konsole
Name[az]=Ali İstifadəçi Konsolu
Name[be]=Кансоля адміністратара (root)
Name[bg]=Root Конзола
Name[bs]=Root konzola
Name[ca]=Consola root
Name[cs]=Konsole superuživatele
Name[cy]=Terfynnell Gwraidd
Name[da]=Root-konsol
Name[el]=Κονσόλα Root
Name[eo]=Sistemestro-konzolo
Name[es]=Consola de root
Name[et]=Administraatori konsool
Name[eu]=Root Konsola
Name[fa]=کنسول ریشه
Name[fi]=Pääkäyttäjän istunto
Name[fr]=Console superutilisateur
Name[he]=מסוף Root
Name[hr]=Administratorska konzola
Name[hu]=Parancsértelmező (rendszergazdaként)
Name[it]=Console di root
Name[ja]=ルートコンソール
Name[lo]=ຄອນໂຊລຜູ້ດູແລລະບົບ
Name[lt]=Root konsolė
Name[lv]=Root Konsole
Name[mt]=Konsol tar-root
Name[nb]=Rotkonsoll
Name[nn]=Rotkonsoll
Name[nso]=Boitebatso bja Modu
Name[pl]=Konsola administratora
Name[pt]=Consola como Root
Name[pt_BR]=Console Root
Name[ro]=Consolă "root"
Name[ru]=Консоль root
Name[sk]=Root konzola
Name[sl]=Konzola za root
Name[sr]=Root конзола
Name[sv]=Root-konsoll
Name[ta]=Á£ôÀÂÉ÷ Ó¨ÉÂõ
Name[th]=คอนโซลผู้ดูแลระบบ
Name[tr]=Root Konsolu
Name[uk]=Консоль адміністратора
Name[uz]=Root консоли
Name[ven]=Console ya mudzi
Name[wa]=Conzôle e môde root
Name[xh]=Konsole Yengcambu
Name[xx]=xxRoot Consolexx
Name[zh_CN]=Root 控制台
Name[zh_TW]=Root 主控台
Name[zu]=Ikhonsoli yempande
Icon=opentermred
Comment=New Root Console
Comment[af]=Nuwe Root Konsole
Comment[be]=Новая кансоля адміністратара (root)
Comment[bg]=Нова Root-Конзола
Comment[bs]=Nova administratorska konzola
Comment[ca]=Nova consola root
Comment[cs]=Nová konzole superuživatele
Comment[cy]=Terfynnell Gwraidd Newydd
Comment[da]=Ny root-konsol
Comment[de]=Neue Konsole für Benutzer root
Comment[el]=Νέα κονσόλα Root
Comment[eo]=Nova sistemestro-konzolo
Comment[es]=Nueva consola de root
Comment[et]=Uus administraatori konsool
Comment[eu]=Root Konsola Berria
Comment[fa]=کنسول ریشه‌ی جدید
Comment[fi]=Uusi pääkäyttäjän istunto
Comment[fr]=Nouvelle console superutilisateur
Comment[he]=מסוף Root חדש
Comment[hr]=Nova administratorska konzola
Comment[hu]=Új parancsértelmező (rendszergazdáknak)
Comment[it]=Nuova console di root
Comment[ja]=新規ルートコンソール
Comment[lo]=ຄອນໂຊລຜູ້ດັູແລລະບົບ
Comment[lt]=Nauja Root konsolė
Comment[lv]=Jauna Superlietotāja Konsole
Comment[mn]=Эзэн хэрэглэгчийн шинэ консол 
Comment[mt]=Konsol ġdid root
Comment[nb]=Nytt rotkonsoll
Comment[nl]=Nieuwe rootconsole
Comment[nn]=Ny rotkonsoll
Comment[nso]=Boitebatso bjo Boswa bja Modu
Comment[pl]=Nowa konsola administratora
Comment[pt]=Nova Consola como Root
Comment[pt_BR]=Novo Console Root
Comment[ro]=Consolă "root" nouă
Comment[ru]=Новая консоль root
Comment[sk]=Nová rootovská konzola
Comment[sl]=Nova konzola superuporabnika
Comment[sr]=Нова root конзола
Comment[sv]=Ny root-konsoll
Comment[ta]=Ò¾¢Â ¿¢÷Å¡¸¢ Ó¨È¨Á ¸¡ý§º¡ø
Comment[th]=คอนโซลผู้ดูแลระบบ
Comment[tr]=Yeni Root Konsolu
Comment[uk]=Нова консоль системного адміністратора
Comment[uz]=Янги root консоли
Comment[ven]=Console ya mudzi ntswa
Comment[vi]=Root Console mới
Comment[wa]=Novele conzôle e môde root
Comment[xh]=Konsole Yengcambu Entsha
Comment[xx]=xxNew Root Consolexx
Comment[zh_CN]=新建 Root 控制台
Comment[zh_TW]=新增 Root 主控台
Comment[zu]=Ikhonsoli Yempande Entsha
Exec=su
Schema=BlackOnLightYellow.schema
#Schema=Linux.schema
#VGA
#Font=6
Cwd=
Tips=false
