[Desktop Entry]
Encoding=UTF-8
Type=KonsoleApplication
Name=Root Shell
Name[cs]=Root shell
Name[da]=Root-skal
Name[et]=Administraatori shell
Name[hu]=Parancsértelmező (rendszergazdaként)
Name[is]=Skel
Name[pt]=Linha de Comandos Root
Name[pt_BR]=Shell do Root
Name[uk]=Командна оболонка з правами root
Icon=opentermred
Comment=New Root Shell
Comment[cs]=Nový root shell
Comment[da]=Ny root-skal
Comment[et]=Uus administraatori shell
Comment[hu]=Új parancsértelmező (rendszergazdaként)
Comment[is]=Ný skel
Comment[pt]=Nova Linha de Comandos Root
Comment[pt_BR]=Novo Shell do Root
Comment[ru]=Новая оболочка с правами root
Comment[uk]=Новий командна оболонка з правами root
Exec=su -
Schema=BlackOnLightYellow.schema
#Schema=Linux.schema
#VGA
#Font=6
Cwd=
Tips=false
