[Desktop Entry]
Encoding=UTF-8
Type=KonsoleApplication
Name=Root Midnight Commander
Name[af]=root middernag kommandeur
Name[ar]=Midnight Commander للمستخدم الجذري
Name[az]=Ali İstifadəçi Midnight Commander
Name[bg]=Midnight Commander с Root-привилегии
Name[cs]=Midnight Commander (root)
Name[es]=Midnight Commander para root
Name[fi]=Pääkäyttäjän Midnight Commander
Name[fr]=Midnight Commander comme super-utilisateur
Name[hu]=Midnight Commander (rendszergazdaként)
Name[lv]=Root Pusnakts Komandieris
Name[nn]=Midnight Commander for root
Name[pt]=Midnight Commander como Root
Name[pt_BR]=Midnight Commander - raiz
Name[sl]=Midnight Commander za root
Name[sv]=Midnight Commander för root
Name[tr]=Midnight Commander (Root)
Name[xh]=Umyaleli waphakathi kobusuku wengcambu
Name[xx]=xx
Name[zu]=Umyaleli Waphakathi kobusuku
Comment=New Root Midnight Commander
Comment[af]=middernag kommandeur lêer bestuurder vir administrateur
Comment[az]=İdarəçi Midnight Commander Fayl İdarəçisi
Comment[bg]=Midnight Commander Файлов менаджър за Администратор
Comment[cs]=Správce Midnight Commander pro administrátora
Comment[da]=Midnight Commander filhåndtering for administratoren
Comment[de]=Neuer Root Midnight Commander
Comment[es]=Administrador de archivos de Midnight Commander para el administrador
Comment[fi]=Midnight Commander tiedostonhallinta pääkäyttäjälle
Comment[fr]=Gestionnaire de fichiers Midnight Commander en tant que super-utilisateur
Comment[he]=מנהל הקבצים Midnight Commander לניהול המערכת
Comment[hu]=Midnight Commander fájlkezelő rendszergazdai jogosultsággal
Comment[lt]=Midnight Commander bylų tvarkyklė administratoriui
Comment[lv]=Pusnakts Komandiera Failu Menedžeris Administratoram
Comment[nl]=Midnight Commander File Manager voor de systeembeheerder
Comment[nn]=Filbehandlaren Midnight Commander for administratoren
Comment[pt]=O Gestor de Ficheiros Midnight Commander para o Administrador
Comment[pt_BR]=Gerenciador Midnight Commander para o Administrador
Comment[sk]=Správca súborov Midnight Commander pre administrátora
Comment[sl]=Midnight Commander za administratorja
Comment[sv]=Filhanteraren Midnight Commander för administratör
Comment[tr]=Sistem yöneticisi için Midnight Commander
Comment[xh]=Umphathi wefayile yomyaleli waphakathi kobusuku woMphathi
Comment[xx]=xx
Comment[zu]=Umyaleli Wphakathi kobusuku Umphathi Wefayela yo Mphathi wezangaphakathi
Exec=su -c 'mc -c'
Schema=BlackOnLightYellow.schema
#VGA
#Font=6
Cwd=
