[Desktop Entry]
Type=KonsoleApplication
Name=Root Midnight Commander
Name[ar]=Midnight Commander للمستخدم الجذر
Name[az]=Ali İstifadəçi Modunda Midnight Commander
Name[be]=Midnight Commander для адміністратара
Name[bn]=রুট মিডনাইট কমান্ডার
Name[br]=Midnight Commander gwrizienn
Name[ca]=Midnight Commander root
Name[cs]=Midnight Commander (root)
Name[csb]=Midnight Commander - trib sprôwnika
Name[cy]=Midnight Commander Gwraidd
Name[de]=Midnight Commander (Systemverwaltungsmodus)
Name[el]=Midnight Commander υπερχρήστη
Name[eo]=Meznokta komandanto kiel sistemestro
Name[es]=Midnight Commander para root
Name[et]=Midnight Commander (administraator)
Name[eu]=Root-en Midnight Commander
Name[fa]=فرماندۀ نیمه‌شب کاربر ارشد
Name[fi]=Pääkäyttäjän Midnight Commander
Name[fr]=Midnight Commander en tant que superutilisateur
Name[fy]=Root Midnight Kommander
Name[gl]=Midnight Commander como Root
Name[hi]=रूट मिडनाइट कमांडर
Name[hr]=Midnight Commander - za administratora
Name[hu]=Midnight Commander (rendszergazdaként)
Name[is]=Midnight Commander kerfisstjóri
Name[it]=Midnight Commander di root
Name[ja]=Midnight Commander (root)
Name[km]=ពាក្យ​បញ្ជា Midnight Root
Name[ko]=미드나잇 커맨더
Name[lo]=ມິດໄນຄອມມານເດີຜູ້ດູແລລະບົບ
Name[lv]=Root Pusnakts Komandieris
Name[mn]=Эзэн Midnight Commander
Name[ms]=Pemberi Arahan Tengah Malam Root
Name[mt]=Midnight Commander bħala root
Name[nb]=«Midnight Commander» for root
Name[nds]=Pleger-MC
Name[ne]=रुट मिडनाइट आदेशकर्ता
Name[nn]=Midnight Commander for root
Name[nso]=Molaedi wa Bosegogare wa Modu
Name[pa]=root ਮਿਡਨਾਇਟ ਕਮਾਂਡਰ
Name[pl]=Midnight Commander  - tryb administratora
Name[pt]=Midnight Commander como Root
Name[pt_BR]=Midnight Commander - Root
Name[ro]=Midnight Commander "root"
Name[ru]=Midnight Commander c правами root
Name[rw]=Mutangabwiriza Hagati-Ijoro y'Umuzi
Name[se]=Midnight Commander root geavaheaddji várás
Name[sl]=Midnight Commander za root
Name[sr]=Корени Midnight Commander
Name[sr@Latn]=Koreni Midnight Commander
Name[sv]=Midnight Commander för root
Name[ta]=ஆரம்ப நடு இரவு கட்டளை
Name[tg]=Фармондиҳандаи нимашаби реша
Name[th]=มิดไนท์คอมมานเดอร์ผู้ดูแลระบบ
Name[tr]=Midnight Commander (Root)
Name[uk]=Midnight Commander для адміністратора
Name[uz]=Midnight Commander (root)
Name[uz@cyrillic]=Midnight Commander (root)
Name[ven]=Muhulwane wa mudzi wa vhukati ha vhusiku
Name[vi]=Midnight Commander Gốc
Name[wa]=Midnight Commander e môde root
Name[zu]=Umyaleli Waphakathi nobusuku
Icon=konsolered
Comment=New Root Midnight Commander
Comment[af]=Nuwe Root Midnight Commander
Comment[ar]=Midnight Commander جديد للمستخدم الجذر
Comment[az]=Yeni Ali İstifadəçi Modunda Midnight Commander
Comment[be]=Новы Midnight Commander для адміністратара
Comment[bg]=Нов Root Midnight Commander
Comment[bn]=নতুন রুট মিডনাইট কমান্ডার
Comment[br]=Midnight Commander gwrizienn nevez
Comment[bs]=Novi Root Midnight Commander
Comment[ca]=Nou Midnight Commander root
Comment[cs]=Nový Midnight Commander pro superuživatele
Comment[csb]=Nowi Midnight Commander - trib sprôwnika
Comment[cy]=Midnight Commander Gwraidd Newydd
Comment[da]=Ny root Midnight Commander
Comment[de]=Neuer Midnight Commander für Benutzer root
Comment[el]=Νέο Midnight Commander υπερχρήστη
Comment[eo]=Nova Meznokta komandanto kiel sistemestro
Comment[es]=Nuevo Midnight Commander de root
Comment[et]=Uus administraatori Midnight Commander
Comment[eu]=Root-en Midnight Commander berria
Comment[fa]=فرماندۀ نیمه ‌شب کاربر ارشد جدید
Comment[fi]=Uusi pääkäyttäjän Midnight Commander -istunto
Comment[fr]=Nouveau Midnight Commander en tant que superutilisateur
Comment[fy]=Nije Root Midnight Kommander
Comment[gl]=Novo Midnight Commander como Root
Comment[he]=משימת Root Midnight Commander חדשה
Comment[hi]=नया रूट मिडनाइट कमांडर
Comment[hr]=Novi Midnight Commander - za administratora
Comment[hu]=Új Midnight Commander (rendszergazdaként)
Comment[is]=Nýr Midnight Commander fyrir kerfisstjóra
Comment[it]=Nuovo Midnight Commander di root
Comment[ja]=新規 Midnight Commander (root)
Comment[ka]=ახალი Root Midnight Commander
Comment[kk]=Жаңа Root Midnight Commander терезесін ашу
Comment[km]=ពាក្យ​បញ្ជា Midnight Root ថ្មី
Comment[ko]=미드나잇 커맨더
Comment[lo]=ມິດໄນຄອມມານເດີແບບສິດຜູ້ດູແລລະບົບ
Comment[lt]=Naujas Root Midnight Commander
Comment[lv]=Jauns Root Pusnakts Komandieris
Comment[mk]=Нов Root Midnight Commander
Comment[mn]=Шинэ Midnight Commander (Эзэн хэрэглэгч)
Comment[ms]=Pemberi Arahan Tengah Malam Baru
Comment[mt]=Midnight Commander ġdid bħala root
Comment[nb]=Ny «Midnight Commander» for root
Comment[nds]=Niegen Midnight Commander mit Systeemplegerverlöven
Comment[ne]=नयाँ रुट मिडनाइट आदेशकर्ता
Comment[nl]=Nieuwe root Midnight Commander
Comment[nn]=Ny Midnight Commander for root
Comment[nso]=Molaediwa yo Moswa wa Bosegogare wa Modu
Comment[pa]=ਨਵਾਂ root ਮਿਡਨਾਇਟ ਕਮਾਂਡਰ
Comment[pl]=Midnight Commander - tryb administratora
Comment[pt]=Novo Midnight Commander como Root
Comment[pt_BR]=Nova Janela do Midnight Commander- Root
Comment[ro]=Consolă Midnight Commander "root" nouă
Comment[ru]=Новое окно Midnight Commander с правами root
Comment[rw]=Mutangabwiriza Hagati-Ijoro y'Umuzi Nshya
Comment[se]=Ođđa Midnight Commander root geavadeaddji várás
Comment[sk]=Nový root Midnight Commander
Comment[sl]=Novi Midnight Commander za root
Comment[sr]=Нови корени Midnight Commander
Comment[sr@Latn]=Novi koreni Midnight Commander
Comment[sv]=Ny Midnight Commander för root
Comment[ta]=புதிய ஆரம்ப நடு இரவு கட்டளை
Comment[tg]=Нави фармондиҳандаи нимашаби реша
Comment[th]=มิดไนท์คอมมานเดอร์แบบสิทธิ์ผู้ดูแลระบบ
Comment[tr]=Yeni Midnight Commander (Root)
Comment[tt]=Yaña Midnight Commander (root ısulı)
Comment[uk]=Новий Midnight Commander для адміністратора
Comment[uz]=Yangi Midnight Commander (root)
Comment[uz@cyrillic]=Янги Midnight Commander (root)
Comment[ven]=Muhulwane wa mudzi wa vhukati ha vhusiku
Comment[vi]=Mở một Midnight Commander Gốc mới
Comment[wa]=Novea «Midnight Commander» e môde root
Comment[zh_CN]=新建 Root Midnight Commander
Comment[zh_TW]=新增 Root Midnight Commander
Comment[zu]=Umyaleli Waphakathi nobusuku Wempande Entsha
Exec=su -c 'mc -c'
Schema=BlackOnLightYellow.schema
#VGA
#Font=6
Cwd=
Tips=false
