# Ignore the following files
*~
*.[oa]
*.diff
*.kate-swp
*.kdev4
.kdev_include_paths
*.kdevelop.pcs
*.moc
*.moc.cpp
*.orig
*.user
.*.swp
.swp.*
Doxyfile
Makefile
avail
random_seed
/build*/
CMakeLists.txt.user*
*.unc-backup*
doxydoc/
.vscode

# Ignore source trail files
*.srctrlbm
*.srctrldb
*.srctrlprj
.clang-format
/compile_commands.json
.clangd
.cache
.idea
/cmake-build*

!/tests/Makefile
!/tests/*/Makefile

/tests/bugs/spam-stderr
/tests/features/signaltests
/tests/legacy/audit
/tests/legacy/quote
/tests/misc/ripple
