[Desktop Entry]
Exec=kcmkonsole
Icon=konsole
Type=Application

X-KDE-ControlModuleType=User
X-KDE-HideFromPanel=true

Name=Console
Name[az]=Konsol
Name[bg]=Конзола
Name[br]=Letrin
Name[bs]=Konzola
Name[ca]=Consola
Name[cs]=Konsole
Name[da]=Konsol
Name[de]=Konsole
Name[el]=Κονσόλα
Name[eo]=Konzolo
Name[es]=Consola
Name[et]=Konsool
Name[eu]=Konsola
Name[fi]=Konsoli
Name[gl]=Consola
Name[he]=ףוסמ
Name[hr]=Konzola
Name[hu]=Konzol
Name[is]=Skjáhermir
Name[ja]=コンソール
Name[ko]=콘솔
Name[lt]=Konsolė
Name[lv]=Konsole
Name[mk]=Конзола
Name[no]=Konsoll
Name[no_NY]=Konsoll
Name[oc]=Consola
Name[pl]=Konsola
Name[pt]=Consola
Name[ru]=Консоль
Name[sk]=Konzola
Name[sl]=Konzola
Name[sr]=Konzola
Name[sv]=Konsollen
Name[ta]=¸¡ý§º¡ø
Name[th]=คอนโซล
Name[tr]=Konsol
Name[uk]=Консоль
Name[wa]=Conzôle
Name[xh]=Isakhelo esiqulathe ibhodi yezitshixo
Name[zh_CN.GB2312]=控制台

Comment=All Konsole Settings
Comment[az]=Bütün Konsol Qurğuları
Comment[bg]=Настройки на конзола
Comment[br]=Hollgefluniadur Konsole
Comment[bs]=Sve postavke za konzolu
Comment[ca]=Tot l'arranjament de la consola
Comment[cs]=Všechna nastavení programu Konsole
Comment[da]=Alle Konsolindstillinger
Comment[de]=Alle Einstellungen für die Konsole
Comment[el]=Όλες οι ρυθμίσεις της Κονσόλας
Comment[eo]=Agordo de la Konzolo
Comment[es]=Opciones de Konsole
Comment[et]=Konsooli seadistused
Comment[eu]=Konsolaren Konfigurazioa
Comment[fi]=Kaikki konsolin asetukset
Comment[fr]=Configuration de Konsole
Comment[gl]=Propiedades da Konsole
Comment[he]=ףוסמה לש תורדגהה לכ
Comment[hr]=Sve postavke za konzolu
Comment[hu]=Konzolbeállítások
Comment[is]=Stilla konsole-skjáherminn
Comment[it]=Tutte le impostazioni di Konsole
Comment[ja]=Konsoleの全ての設定です
Comment[ko]=모든 콘솔 설정
Comment[lt]=Visi Konsolės Nustatymai
Comment[lv]=Visi Konsoles Uzstādījumi
Comment[mk]=Сите поставки на конзолата
Comment[mt]=Setings kollha tal-Konsole
Comment[nl]=alle Konsole-instellingen
Comment[no]=Alle Konsoll-instillinger
Comment[no_NY]=Alle konsoll-innstillingar
Comment[oc]=Tot l'arranjament de la consola
Comment[pl]=Wszystkie ustawienia Konsoli
Comment[pt_BR]=Todas as preferências do Konsole
Comment[pt]=Configuração da consola
Comment[ru]=Настройки консоли
Comment[sk]=Všetky nastavenia Konzoly
Comment[sl]=Vse nastavitve konzole
Comment[sr]=Podešavanja konzole
Comment[sv]=Alla inställningar för Konsole
Comment[ta]=«¨ÉòÐì ¸¡ý§º¡ø «¨ÁôÒì¸û
Comment[th]=ตั้งค่า Konsole ทั้งหมด
Comment[tr]=Tüm Konsol Ayarları
Comment[uk]=Всі установки консолі
Comment[vi]=Tất cả các thiết lập của Konsole 
Comment[xh]=Zonke izicwangciso ze Konsole
Comment[zh_CN.GB2312]=所有的 Konsole 设置

Keywords=konsole,console,terminal
Keywords[az]=konsol,terminal
Keywords[br]=konsole,letrin,termenell
Keywords[bs]=konsole,console,terminal,konzola
Keywords[ca]=konsole,consola,terminal
Keywords[cs]=Konsole,Console,Terminál
Keywords[da]=konsol,terminal
Keywords[de]=Konsole,Console,Terminal
Keywords[el]=konsole,κονσόλα,τερματικό
Keywords[eo]=konzolo,pupitro,terminalo
Keywords[es]=konsole,consola,terminal
Keywords[et]=konsool,terminal
Keywords[fi]=konsole,konsoli,pääte-emulaattori
Keywords[gl]=konsole,consola,terminal
Keywords[he]=Konsole,Console,לנימרט,ףוסמ
Keywords[hr]=konsole,console,terminal,konzola
Keywords[hu]=Konsole,konzol,terminál
Keywords[is]=skjáhermir
Keywords[it]=konsole,console,terminale
Keywords[ja]=konsole,コンソール,ターミナル
Keywords[ko]=konsole,console,terminal,콘솔,k콘솔,터미널
Keywords[lt]=konsolė,konsolė,terminalas
Keywords[lv]=konsole,console,termināls
Keywords[mk]=konsole,console,terminal,конзола,терминал
Keywords[no]=konsole,konsoll,terminal
Keywords[no_NY]=konsole,konsoll,terminal,kommandolinje
Keywords[oc]=konsole,consola,terminal
Keywords[pl]=konsole,konsola,terminal
Keywords[pt]=konsole,consola,terminal
Keywords[sk]=konsole,konzola,terminál
Keywords[sl]=konsole,konzola,terminal
Keywords[sv]=konsoll,konsol,konsole,terminal
Keywords[tr]=konsole,işletmen uç birimi,uç birim
Keywords[uk]=konsole,консоль,термінал
Keywords[vi]=konsole,console,terminal,đầu cuối 
Keywords[xh]=konsole,isakhelo esiqulathe ibhodi yezitshixo,isiphelo sendlela
Keywords[zh_CN.GB2312]=konsole,console,terminal,控制台,终端
