[Desktop Entry]
Type=Application
Exec=konsole %i %m -caption "%c"
Icon=konsole
DocPath=konsole/index.html
Terminal=0
MapNotify=true

Name=Terminal
Name[cs]=Terminál
Name[el]=Τερματικό
Name[eo]=Terminalo
Name[fi]=Pääteikkuna
Name[he]=ףוסמ
Name[hu]=Terminál
Name[is]=Skjáhermir
Name[it]=Terminale
Name[ja]=ターミナル
Name[ko]=터미널
Name[lt]=Terminalas
Name[lv]=Termināls
Name[mk]=Терминал
Name[ru]=Терминал
Name[sk]=Terminál
Name[ta]=Ó¨ÉÂõ
Name[tr]=Uçbirim
Name[uk]=Термінал
Name[zh_CN.GB2312]=终端
Name[zh_TW.Big5]=終端機

Comment=Terminal emulator window
Comment[ca]=Finestra d'emulació de terminal
Comment[cs]=Emulátor terminálu
Comment[da]=Terminal emulerings vindue
Comment[de]=Terminal-Emulation
Comment[el]=Παράθυρο εξομοίωσης τερματικού
Comment[eo]=Terminalimitaĵo
Comment[es]=Emulador de terminal en ventana
Comment[et]=Terminali emulaatori aken
Comment[fi]=Pääte-emulaattori
Comment[fr]=Émulateur de terminal
Comment[gl]=Fiestra de emulador de Terminal
Comment[he]=ףוסמ תיימדה ןולח
Comment[hr]=Emulator Terminala
Comment[hu]=Terminálablak
Comment[is]=konsole:  Skjáhermir KDE
Comment[it]=Finestra di emulazione terminale
Comment[ja]=ターミナルエミュレータウィンドウ
Comment[ko]=터미널을 흉내내는 창
Comment[lt]=Terminalo emuliatoriaus langas
Comment[lv]=Termināla emulatora logs
Comment[mk]=Прозорец со емулација на терминал
Comment[nl]=venster met Terminalemulatie
Comment[no]=Vindu for terminalemulering
Comment[no_NY]=Terminalemuleringsvindauge
Comment[oc]=Finestra d'emulacion de terminal
Comment[pl]=Okno emulatora terminala
Comment[pt]=Emulador de Terminal
Comment[pt_BR]=Janela de emulação de terminal
Comment[ro]=Fereastră emulator de terminal
Comment[ru]=окно эмуляции терминала
Comment[sk]=Emulátor terminálu
Comment[sl]=Okno s terminalskim emulatorjem
Comment[sr]=Prozor emulacije terminala
Comment[sv]=Terminalemuleringsfönster
Comment[ta]=Ó¨ÉÂõ §À¡ýÁ¢ º¡ÇÃõ
Comment[tr]=Uçbirim emülatör penceresi
Comment[uk]=Емуляція терміналу
Comment[zh_CN.GB2312]=终端仿真器窗口
Comment[zh_TW.Big5]=終端機模擬視窗
