[Desktop Entry]
Type=Service
Exec=konsole %i %m -caption "%c"
Icon=konsole
ServiceTypes=KParts/ReadOnlyPart,Browser/View,inode/directory

X-KDE-Library=libkonsolepart
X-KDE-BrowserView-AllowAsDefault=false
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-Toggable=true
X-KDE-BrowserView-ToggableView-Orientation=horizontal
X-KDE-BrowserView-LinkedView=true

Name=Terminal Emulator
Name[az]=Terminal Emulyasiyası
Name[bg]=Терминален емулатор
Name[br]=Kendarvanerezh termenell
Name[bs]=Emulator Terminala
Name[ca]=Emulador de terminal
Name[cs]=Emulátor terminálu
Name[da]=Terminal emulering
Name[de]=Terminal-Emulator
Name[el]=Εξομοίωση Τερματικού
Name[eo]=Terminalimitaĵo
Name[es]=Emulador de terminal
Name[et]=Terminali emulaator
Name[fi]=Pääte-emulaattori
Name[fr]=Terminal
Name[gl]=Emulador de Terminal
Name[he]=ףוסמ תיימדה
Name[hr]=Emulator Terminala
Name[hu]=Terminálemulátor
Name[is]=konsolepart:  Partur sem útfærir skjáhermi KDE
Name[it]=Emulatore di terminale
Name[ja]=ターミナルエミュレータ
Name[ko]=터미널 흉내장이
Name[lt]=Terminalo emuliatorius
Name[lv]=Termināla Emulators
Name[mt]=Emulatur tat-Terminal
Name[nl]=Terminalemulatie
Name[no]=Terminalemulator
Name[no_NY]=Terminalemulator
Name[pl]=Emulator terminala
Name[pt_BR]=Emulador de Terminal
Name[pt]=Emulador de Terminal
Name[ru]=Эмулятор терминала
Name[sk]=Emulátor terminálu
Name[sl]=Terminalski emulator
Name[sr]=Terminal emulator
Name[sv]=Terminalemulator
Name[ta]=Ó¨ÉÂô §À¡ýÁ¢
Name[th]=ตัวจำลองเทอร์มินัล
Name[tr]=Uçbirim Emülasyonu
Name[uk]=Емуляція терміналу
Name[vi]=Trình mô phỏng Terminal 
Name[xh]=Umzami kulinganisela ngokulinganayo wesiphelo sendlela
Name[zh_CN.GB2312]=终端仿真器
