[Desktop Entry]
Type=Application
Exec=konsole --type su
Icon=konsole
DocPath=konsole/index.html
MimeType=application/x-konsole
Terminal=0

Name=Konsole - Super User Mode

Comment=Terminal Program
