[Desktop Entry]
Type=Application
Exec=konsole %i %m -caption "%c"
Icon=konsole
DocPath=konsole/index.html
ServiceTypes=KParts/ReadOnlyPart,Browser/View,inode/directory
MimeType=application/x-konsole
Terminal=0

X-KDE-Library=libkonsolepart
X-KDE-LibraryName=konsolepart
X-KDE-FactoryName=visual
X-KDE-BrowserView-AllowAsDefault=false
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-Toggable=true
X-KDE-BrowserView-ToggableView-Orientation=horizontal
X-KDE-BrowserView-LinkedView=true

Name=Terminal
Name[cs]=Terminál
Name[eo]=Terminalo
Name[fi]=Pääteikkuna
Name[he]=ףוסמ
Name[hu]=Terminál
Name[is]=Skjáhermir
Name[it]=Terminale
Name[ja]=ターミナル
Name[mk]=Терминал
Name[ru]=Терминал
Name[ta]=முைனயமஂ
Name[tr]=Uçbirim

Comment=Terminal emulator window
Comment[ca]=Finestra d'emulació de terminal
Comment[cs]=Emulátor terminálu
Comment[de]=Terminal-Emulation
Comment[eo]=Terminalimitaĵo
Comment[es]=Emulador de terminal
Comment[et]=Terminali emulaatori aken
Comment[fi]=Pääte-emulaattori
Comment[fr]=Émulateur de terminal
Comment[he]=ףוסמ תיימדה ןולח
Comment[hr]=Emulator Terminala
Comment[hu]=Terminál emulátor
Comment[is]=konsole:  Skjáhermir KDE
Comment[it]=Finestra di emulazione terminale
Comment[ja]=ターミナルエミュレータウィンドウ
Comment[mk]=Прозорец со емулација на терминал
Comment[nl]=Venster met Terminal-emulatie
Comment[no]=Vindu for terminalemulering
Comment[pt]=Emulador de Terminal
Comment[ro]=Fereastră de emulator de terminal
Comment[sl]=Okno s terminalskim emulatorjem
Comment[sr]=Prozor emulacije terminala
Comment[sv]=Terminalemuleringsfönster
Comment[ta]=முைனய சாளரமஂ
Comment[tr]=Uçbirim emülatör penceresi
