[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=konsole %i %m
Icon=konsole
DocPath=konsole/index.html
Terminal=0
X-KDE-StartupNotify=true

Name=Konsole
Name[af]=konsole
Name[ar]=سطر الأوامر
Name[az]=Konsol
Name[be]=Кансоля
Name[bg]=Конзола
Name[bs]=Konzola
Name[da]=Konsol
Name[el]=Κονσόλα
Name[eo]=Konzolo
Name[et]=Konsool
Name[eu]=Konsola
Name[fi]=Pääte-emulaattori
Name[he]=מסוף
Name[is]=Skjáhermir
Name[ja]=コンソール
Name[ko]=KDE용 콘솔
Name[nb]=Konsoll
Name[nn]=Konsoll
Name[pl]=Konsola
Name[ro]=Consolă
Name[ru]=Консоль
Name[sl]=Konzola
Name[ta]=¸¡ý§º¡ø
Name[th]=คอนโซล - K
Name[tr]=Konsol
Name[xh]=iKonsole
Name[xx]=xx
Name[zu]=iKonsole

GenericName=Terminal Program
GenericName[af]=terminaal program
GenericName[ar]=برنامج تيرمينال
GenericName[be]=Тэрмінал
GenericName[bg]=Терминална програма
GenericName[bs]=Terminalni program
GenericName[cs]=Terminálový program
GenericName[da]=Terminalprogram
GenericName[de]=Terminal-Programm
GenericName[el]=Πρόγραμμα Τερματικού
GenericName[eo]=Terminalimitaĵo
GenericName[es]=Programa de terminal
GenericName[et]=Terminali emulaator
GenericName[eu]=Terminala Programa
GenericName[fi]=Terminaaliohjelma
GenericName[fr]=Terminal
GenericName[he]=תוכנית מסוף
GenericName[hu]=terminálprogram
GenericName[is]=Skjáhermir (terminal)
GenericName[it]=Programma terminale
GenericName[ja]=ターミナルプログラム
GenericName[lt]=Terminalo programa
GenericName[lv]=Termināla Programma
GenericName[nb]=Et terminalprogram
GenericName[nl]=terminalprogramma
GenericName[nn]=Terminalprogram
GenericName[pl]=Program terminala
GenericName[pt]=Programa de Terminal
GenericName[pt_BR]=Terminal
GenericName[ro]=Program terminal
GenericName[ru]=Терминал
GenericName[sk]=Terminál
GenericName[sl]=Terminalski program
GenericName[sv]=Terminalprogram
GenericName[ta]=Ó¨ÉÂ ¿¢Ãø
GenericName[th]=แอพพลิเคชันเทอร์มินัล
GenericName[tr]=Terminal Programı
GenericName[uk]=Програма терміналу
GenericName[ven]=Mbekanyamushumo ya Mafhedziselo
GenericName[vi]=Chương Trình Terminal
GenericName[xh]=Inkqubo ye Terminal
GenericName[xx]=xx
GenericName[zh_CN]=终端程序
GenericName[zh_TW]=終端機程式
GenericName[zu]=Eyangaphakathi Iprogremu
X-DCOP-ServiceType=Multi
X-KDE-AuthorizeAction=shell access
