[Desktop Entry]
Type=Service
Exec=konsole %i %m -caption "%c"
Icon=konsole
ServiceTypes=KParts/ReadOnlyPart,Browser/View,inode/directory

X-KDE-Library=libkonsolepart
X-KDE-BrowserView-AllowAsDefault=false
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-Toggable=true
X-KDE-BrowserView-ToggableView-Orientation=horizontal
X-KDE-BrowserView-LinkedView=true

Name=Terminal Emulator
Name[ca]=Emulador de terminal
Name[cs]=Emulátor terminálu
Name[da]=Terminal emulering
Name[de]=Terminal-Emulator
Name[eo]=Terminalimitaĵo
Name[es]=Emulador de Terminal
Name[et]=Terminali emulaator
Name[fi]=Pääte-emulaattori
Name[fr]=un terminal
Name[gl]=Emulador de Terminal
Name[he]=ףוסמ תיימדה
Name[hr]=Emulator Terminala
Name[hu]=Terminálemulátor
Name[is]=konsolepart:  Partur sem útfærir skjáhermi KDE
Name[it]=Emulatore di terminale
Name[ja]=ターミナルエミュレータ
Name[nl]=Terminal-emulatie
Name[no]=Terminalemulator
Name[no_NY]=Terminalemulator
Name[pl]=Okno emulatora terminala
Name[pt]=Emulador de Terminal
Name[pt_BR]=Emulador de Terminal
Name[ro]=Emulator de terminal
Name[ru]=Эмулятор терминала
Name[sk]=Emulátor terminálu
Name[sl]=Terminalski emulator
Name[sr]=Terminal emulator
Name[sv]=Terminalemulator
Name[ta]=Ó¨ÉÂõ §À¡ýÁ¢
Name[tr]=Uçbirim Emülasyonu
Name[uk]=Емуляція терміналу
Name[zh_CN.GB2312]=终端仿真器
Name[zh_TW.Big5]=終端機模擬器
