[Desktop Entry]
ServiceTypes=inode/directory
Actions=openTerminalHere;
X-KDE-AuthorizeAction=shell_access
Type=Application

Name=Konsole
Name[ar]=طرفية التحكم
Name[az]=Konsol
Name[be]=Кансоль
Name[bg]=Конзола
Name[bn]=কনসোল
Name[bs]=Konzola
Name[ca]=Consola
Name[csb]=Kònsola
Name[el]=Κονσόλα
Name[eo]=Konzolo
Name[et]=Konsool
Name[eu]=Kontsola
Name[he]=מסוף
Name[hi]=कंसोल
Name[hr]=Konzola
Name[is]=Skjáhermir
Name[ka]=კონსოლი
Name[lo]=ຄອນໂຊລ - K
Name[mk]=Конзола
Name[mn]=Консол
Name[nb]=Konsoll
Name[ne]=कन्सोल
Name[nn]=Konsoll
Name[pa]=ਕੰਨਸੋਲ
Name[pl]=Konsola
Name[ro]=Consolă
Name[se]=Konsolla
Name[sk]=Konzola
Name[sl]=Konzola
Name[ta]=கான்சோல்
Name[te]=కాన్సోల్
Name[tg]=Консол
Name[th]=คอนโซล K
Name[zu]=Ikhonsoli

[Desktop Action openTerminalHere]
Name=Open Terminal Here
Name[af]=Maak Terminaal Hier Oop
Name[ar]=إفتح مطراف سطر الأوامر هنا
Name[az]=Terminalı Burada Aç
Name[be]=Адкрыць тэрмінал тут
Name[bg]=Отваряне на конзола тук
Name[bn]=এখানে টার্মিনাল খোলো 
Name[br]=Digeriñ un termenell amañ
Name[bs]=Otvori terminal ovdje
Name[ca]=Obre un terminal aquí
Name[cs]=Otevřít terminál zde
Name[csb]=Òtemknij tuwò terminal
Name[cy]=Agor Terfynell Yma
Name[da]=Åbn terminal her
Name[de]=Terminal öffnen
Name[el]=Άνοιγμα τερματικού εδώ
Name[eo]=Lanĉu terminalon ĉi tie
Name[es]=Abrir terminal aquí
Name[et]=Ava siin terminal
Name[eu]=Ireki terminala hemen
Name[fa]=باز کردن پایانه در اینجا
Name[fi]=Avaa komentoikkuna tähän
Name[fr]=Ouvrir un terminal ici
Name[fy]=Terminal iepenje
Name[ga]=Oscail Teirminéal Anseo
Name[gl]=Abrir Terminal Aqui
Name[he]=פתח מסוף כאן
Name[hi]=टर्मिनल यहाँ खोलें
Name[hr]=Ovdje otvori terminal
Name[hu]=Parancsértelmező megnyitása itt
Name[is]=Opna skjáhermi hér
Name[it]=Apri terminale qui
Name[ja]=ここでターミナルを開く
Name[ka]=ტერმინალის აქ გახსნა
Name[kk]=Терминалды ашу
Name[km]=បើក​ស្ថានីយ​ទីនេះ
Name[ko]=여기에서 터미널 열기
Name[lo]=ເທີມິເນລຂອງ X
Name[lt]=Atverti čia terminalą
Name[lv]=Atvērt termināli šeit
Name[mk]=Отвори терминал тука
Name[mn]=Терминал нээх
Name[ms]=Buka Terminal Di Sini
Name[mt]=Iftaħ terminal hawn
Name[nb]=Åpne terminal her
Name[nds]=Terminal hier opmaken
Name[ne]=यहाँ टर्मिनल खोल्नुहोस्
Name[nl]=Terminal openen
Name[nn]=Opna terminal her
Name[nso]=Bula mafelelo Mo
Name[pa]=ਟਰਮੀਨਲ ਇੱਥੇ ਖੋਲੋ
Name[pl]=Otwórz tutaj terminal
Name[pt]=Abrir um Terminal Aqui
Name[pt_BR]=Abrir Terminal Aqui
Name[ro]=Deschide un terminal aici
Name[ru]=Открыть терминал в этой папке
Name[rw]= Gufungura Igihera Hano
Name[se]=Raba terminála dáppe
Name[sk]=Tu otvoriť terminál
Name[sl]=Tu odpri terminal
Name[sr]=Отвори терминал овде
Name[sr@Latn]=Otvori terminal ovde
Name[ss]=Vula sikhungo lapha
Name[sv]=Öppna terminal här
Name[ta]=முனைய இங்கே திற
Name[te]=టెర్మినల్ ను ఇక్కడ తెరువు
Name[tg]=Терминалро дар инҷо боз кунед
Name[th]=เปิดเทอร์มินัลที่นี่
Name[tr]=Terminali Burada Aç
Name[tt]=Terminalnı Monda Açası
Name[uk]=Відкрити термінал
Name[uz]=Terminalni shu yerda ochish
Name[uz@cyrillic]=Терминални шу ерда очиш
Name[ven]=Vulani theminala hafhano
Name[vi]=Mở một Thiết bị cuối ở Đây
Name[wa]=Drovi on terminå chal
Name[xh]=Vula Isiphelo Sendlela Apha
Name[zh_CN]=在此打开终端
Name[zh_TW]=在這裡開啟終端機
Name[zu]=Vula ithuluzi langaphandle lapha
Icon=konsole
Exec=konsole --workdir %f
