[Desktop Entry]
ServiceTypes=inode/directory
Actions=openTerminalHere

[Desktop Action openTerminalHere]
Name=Open Terminal Here
Name[af]=Open Terminaal Hier
Name[be]=Адчыніць тэрмінал тут
Name[bg]=Отваря Терминал Тук
Name[bs]=Otvori terminal ovdje
Name[ca]=Obre una terminal aquí
Name[cs]=Otevřít terminál zde
Name[da]=Åbn terminal her
Name[de]=Terminal öffnen
Name[el]=Άνοιγμα τερματικού εδώ
Name[es]=Abrir terminal aquí
Name[et]=Ava siin terminal
Name[eu]=Ireki Terminala Hemen
Name[fa]=پایانه را اینجا باز کن
Name[fi]=Avaa terminaali tähän
Name[fr]=Ouvrir un terminal ici
Name[he]=פתח מסוף כאן
Name[hu]=Parancsértelmező megnyitása itt
Name[it]=Apri terminale qui
Name[ja]=ここでターミナルを開く
Name[lt]=Atverti čia terminalą
Name[mt]=Iftaħ terminal hawn
Name[nb]=Åpne terminal her
Name[nl]=Terminal openen
Name[nn]=Opna terminal her
Name[nso]=Bula mafelelo Mo
Name[pl]=Otwórz tutaj terminal
Name[pt]=Abrir um Terminal Aqui
Name[pt_BR]=Abrir Terminal aqui
Name[ru]=Открыть терминал здесь
Name[sk]=Tu otvoriť terminál
Name[sl]=Tu odpri terminal
Name[ss]=Vula sikhungo lapha
Name[sv]=Öppna terminal här
Name[ta]=Ó¨ÉÂò¨¾ þíÌ ¾¢È
Name[tr]=Terminali Burada Aç
Name[uk]=Відкрити термінал
Name[ven]=Vulani theminala hafhano
Name[xh]=Vula Isiphelo Sendlela Apha
Name[zh_CN]=在此打开终端
Name[zh_TW]=在這裡開啟終端機
Name[zu]=Vula ithuluzi langaphandle lapha
Icon=konsole
Exec=konsole --workdir %U
