[Desktop Entry]
Exec=kwrited
Name=KDE Write Daemon
Name[az]=KDEWrite Proqramı
Name[bg]=Демон Write на KDE
Name[cs]=Zapisovací démon KDE
Name[da]=KDE Skrivedæmon
Name[de]=Write-Dämon
Name[eo]=Diskskrib-demono
Name[es]=Demonio de escritura de KDE
Name[et]=KDE write deemon
Name[fi]=KDE kirjoituspalvelin
Name[fr]=Démon de commande Write de KDE
Name[he]=KDE לש ןבתכה תרש
Name[hu]=KDE adatkiíró szolgáltatás
Name[is]=KDE skriftarpúki
Name[it]=Demone KDE di write
Name[ja]=KDE Write デーモン
Name[ko]=KDE Write 데몬
Name[lt]=KDE „write“ demonas
Name[lv]=KDE Write Dēmons
Name[mt]=Daemon tal-ktib KDE
Name[nl]=KDE Schrijfdaemon
Name[no]=KDE Skrive Daemon
Name[no_NY]=KDE Skrivingsdemon
Name[pl]=Demon zapisu KDE
Name[pt_BR]=Daemon de escrita do KDE
Name[pt]=Servidor do Write do KDE
Name[ru]=Демон Write
Name[sk]=KDE Write démon
Name[sl]=Pisalni strežnik za KDE
Name[sv]=KDE-skrivdemon
Name[tr]=KDEWrite Programı
Name[uk]=Демон запису KDE
Name[xh]=KDE iDaemon yokuBhala
Name[zh_CN.GB2312]=KDE 书写器守护进程
Type=Service
X-KDE-StartupNotify=false
