[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=TerminalEmulator
X-KDE-Derived=KParts/ReadOnlyPart
Name=Terminal Emulator
Name[af]=Terminaal Emulasie
Name[ar]=محاكي الطرفيات
Name[az]=Terminal Emulyasiyası
Name[bg]=Конзолна програма
Name[bn]=টার্মিনাল এমুলেটর
Name[br]=Kendarvanerezh termenell
Name[bs]=Simulator terminala
Name[ca]=Emulador de terminal
Name[cs]=Emulátor terminálu
Name[cy]=Efelychydd Terfynell
Name[da]=terminalemulator
Name[de]=Terminal-Emulator
Name[el]=Προσομοιωτής τερματικού
Name[eo]=Terminalimitaĵo
Name[es]=Emulador de terminal
Name[et]=Terminaliemulaator
Name[eu]=Terminal emuladorea
Name[fa]=شبیه‌ساز پایانه
Name[fi]=Pääte-emulaattori
Name[fo]=Útstøðshermari
Name[fr]=Émulateur de terminal
Name[fy]=Terminal
Name[ga]=Aithriseoir Teirminéil
Name[gl]=Emulador de Terminal
Name[he]=הדמיית מסוף
Name[hi]=टर्मिनल एमुलेटर
Name[hr]=Emulator Terminala
Name[hu]=Parancsértelmező
Name[id]=Emulator Terminal
Name[is]=Skjáhermir KDE
Name[it]=Emulatore di terminale
Name[ja]=ターミナルエミュレータ
Name[ko]=터미널 흉내장이
Name[lo]=ຕົວຈຳລອງເທີມີນອນ
Name[lt]=Terminalo emuliatorius
Name[lv]=Termināla Emulators
Name[mk]=Терминален емулатор
Name[mn]=Терминал-Эмулатор
Name[mt]=Emulatur ta' terminal
Name[nb]=Terminalemulator
Name[nds]=Terminal-Emulator
Name[nl]=Terminal
Name[nn]=Terminalemulator
Name[nso]=Moekisi wa Terminal
Name[pa]=ਟਰਮੀਨਲ ਸਮਰੂਪ
Name[pl]=Emulator terminala
Name[pt]=Emulador de Terminal
Name[pt_BR]=Emulador de Terminal
Name[ro]=Emulator de terminal
Name[ru]=Эмулятор терминала
Name[rw]= Mukuruzi Ihera
Name[se]=Terminálemuláhtor
Name[sk]=Emulátor terminálu
Name[sl]=Terminalski emulator
Name[sr]=Емулатор терминала
Name[sr@Latn]=Emulator terminala
Name[ss]=Silingiseli sesikhungo
Name[sv]=Terminalemulator
Name[ta]=கடைசி போட்டியாளர்
Name[tg]=Эмулятори поёна
Name[th]=จำลองเทอร์มินอล
Name[tr]=Uçbirim Emülasyonu
Name[uk]=Емуляція терміналу
Name[uz]=Терминал эмулятори
Name[ven]=Mulingedzisi wa theminala
Name[vi]=Trình mô phỏng Terminal 
Name[xh]=Umzami kulinganisela ngokulinganayo Wendlela yesiphelo
Name[xx]=xxTerminal Emulatorxx
Name[zh_CN]=终端仿真器
Name[zh_TW]=終端機模擬程式
Name[zu]=Umlingisi wangaphandle
