[Desktop Entry]
Encoding=UTF-8
Icon=konsole
Type=Application
Exec=kcmshell kcmkonsole
DocPath=kcontrol/kcmkonsole/index.html

X-KDE-Library=konsole
X-KDE-ParentApp=kcontrol
Name=Konsole
Name[ar]=سطر الأوامر
Name[az]=Konsol
Name[be]=Кансоля
Name[bg]=Конзола
Name[bn]=কনসোল
Name[bs]=Konzola
Name[ca]=Consola
Name[el]=Κονσόλα
Name[eo]=Konzolo
Name[et]=Konsool
Name[eu]=Kontsola
Name[fa]=کنسول
Name[he]=מסוף
Name[hi]=कंसोल
Name[hr]=Konzola
Name[is]=Skjáhermir
Name[ja]=コンソール
Name[ko]=KDE용 콘솔
Name[lo]=ຄອນໂຊລ - K
Name[mk]=Конзола
Name[mn]=Консол
Name[nb]=Konsoll
Name[nn]=Konsoll
Name[pa]=ਕੰਨਸੋਲ
Name[pl]=Konsola
Name[ro]=Consolă
Name[ru]=Консоль
Name[se]=Konsolla
Name[sk]=Konzola
Name[sl]=Konzola
Name[ta]=கான்சோல்
Name[tg]=Консол
Name[th]=คอนโซล K
Name[uz]=Консол
Name[xx]=xxKonsolexx
Name[zu]=Ikhonsoli
Comment=Konsole configuration module
Comment[af]=Konsole opstelling module
Comment[ar]=اعدادات سطر الأوامر
Comment[az]=Konsol quraşdırma modulu
Comment[be]=Модуль канфігурацыі кансолі
Comment[bg]=Настройки на конзолата
Comment[bn]=কনসোল কনফিগারেশন মডিউল
Comment[bs]=Modul sa podešavanje konzole
Comment[ca]=Mòdul de configuració de la consola
Comment[cs]=Konfigurační modul terminálu konsole
Comment[cy]=Modiwl ffurfweddu Konsole
Comment[da]=Konsole-indstillingsmodul
Comment[de]=Modul zur Einrichtung von Konsole
Comment[el]=Άρθρωμα ρύθμισης Κονσόλας
Comment[eo]=Agordo de Konzolo
Comment[es]=Módulo de configuración de Konsole
Comment[et]=Terminaliemulaatori seadistamine
Comment[eu]=Kontsola konfiguratzeko modulua
Comment[fa]=بخش تنظیم کنسول
Comment[fi]=Konsolen asetukset
Comment[fr]=Configuration de Konsole
Comment[fy]=Konsole-ynstellingsmodule
Comment[ga]=Modúl Cumraíochta Konsole
Comment[gl]=Módulo de configuración de Konsole
Comment[he]=שינוי הגדרות המסוף
Comment[hi]=कंसोल कॉन्फ़िगरेशन मोड
Comment[hr]=Alat za podešavanje Konzole
Comment[hu]=A Konsole parancsértelmező beállításai
Comment[is]=Skjáhermisstillingar
Comment[it]=Modulo di configurazione di Konsole
Comment[ja]=Konsoleの設定モジュール
Comment[ko]=K콘솔 설정 모듈
Comment[lo]=ໂມດູນປັບແຕ່ງຄອນໂຊນ - K
Comment[lt]=Konsole konfigūravimo įrankis
Comment[lv]=Konsoles konfigurācijas modulis
Comment[mk]=Модул за конфигурација на конзолата
Comment[mn]=Консол тохируулгын модул
Comment[mt]=Konfigurazzjoni ta' Konsole
Comment[nb]=Verktøy for å tilpasse Konsole
Comment[nds]=Moduul to'n Instellen vun Konsole
Comment[nl]=Konsole-configuratiemodule
Comment[nn]=Oppsettmodul for Konsole
Comment[nso]=Seripa sa peakanyo ya konsole
Comment[pa]=ਕੰਨਸੋਲ ਸੰਰਚਨਾ ਮੈਡੀਊਲ
Comment[pl]=Moduł konfiguracji konsoli
Comment[pt]=Módulo de configuração do Konsole
Comment[pt_BR]=Módulo de configuração do Konsole
Comment[ro]=Modul de configurare Konsole
Comment[ru]=Модуль настройки Konsole
Comment[se]=Konsole:a heivehanmoduvla
Comment[sk]=Konfiguračný modul konzole
Comment[sl]=Modul za nastavitve konzole
Comment[sr]=Модул за подешавање Konsole
Comment[sr@Latn]=Modul za podešavanje Konsole
Comment[sv]=Anpassa Konsole
Comment[ta]=கான்சோல் வடிவமைப்பு பகுதி
Comment[tg]=Модули танзимоти Konsole
Comment[th]=โมดูลปรับแต่งคอนโซล K
Comment[tr]=Konsole Yapılandırma modülü
Comment[uk]=Засіб конфігурації модуля Konsole
Comment[uz]=Консолни мослаш модули
Comment[ven]=Modulu wa nzudzanyo wa Konsole
Comment[vi]=Module cấu hình Konsole 
Comment[wa]=Module d' apontiaedje do terminå di KDE Konsole
Comment[xh]=Umnqongo woqwalaselo we Konsole
Comment[xx]=xxKonsole configuration modulexx
Comment[zh_CN]=Konsole 配置模块
Comment[zh_TW]=Konsole 組態模組
Comment[zu]=Ingxenye yokuhlanganisela ikhonsoli
Keywords=konsole,schema,konsole background,colors,background,terminal application,terminal
Keywords[az]=konsol,sxem,konsol arxa planı,rənglər,arxa plan,terminal proqramı,terminal
Keywords[be]=кансоля,схема,фон кансолі,колеры,фон,тэрмінальнае дастасаваньне,тэрмінал,konsole,schema,konsole background,colors,background,terminal application,terminal
Keywords[bg]=конзола, терминал, konsole, schema, konsole background, colors, background, terminal application, terminal
Keywords[ca]=consola,esquema,fons de la consola,colors,fons,aplicació de terminal,terminal
Keywords[cs]=konsole,schéma,pozadí konsole,barvy,pozadí,terminálová aplikace,terminál
Keywords[cy]=konsole,sgema,cefndir konsole,lliwiau,cefndir,cymhwysiadau terfynell,terfynell
Keywords[da]=konsole,sammensætning,konsole-baggrund,farver,baggrund,terminalprogram,terminal
Keywords[de]=Konsole,Farbschema,Hintergrund,Farben,Terminal
Keywords[el]=κονσόλα,σχήμα,φόντο κονσόλας,χρώματα,φόντο,εφαρμογή τερματικού,τερματικό
Keywords[en_GB]=konsole,schema,konsole background,colours,background,terminal application,terminal
Keywords[eo]=Konzolo,koloraro,fono,koloro,konzolofono,terminaaplikaĵo,terminalo
Keywords[es]=konsole,esquema,fondo de konsole,colores,fondo,aplicación de terminal,terminal
Keywords[et]=konsool,skeem,konsooli taust,värvid,taust,terminal,terminaliemulaator
Keywords[eu]=konsole,eskema,kontsolaren atzeko planoa,koloreak,atzeko planoa,terminal aplikazioa,terminala
Keywords[fa]=konsole,schema,konsole background,colors,background,terminal application,terminal,کنسول,ترمینال,پایانه
Keywords[fi]=konsole,teema,konsolen tausta,värit,tausta,pääteohjelma,pääte
Keywords[fr]=konsole,modèle,fond,couleurs,terminal
Keywords[fy]=konsole,skema,konsole eftergrûn,colors,kleuren,background,eftergrûn,terminal applikaasje,terminal
Keywords[ga]=konsole,scéimre,cúlra konsole,dathanna,cúlra,clár teirminéil,teirminéal
Keywords[gl]=konsole,esquema,fondo de konsole,cores,fondo,aplicación de terminal,terminal
Keywords[he]=מסוף,יישום מסוף,רקע,צבעים,רקע המסוף,תבנית
Keywords[hi]=कंसोल,योजना,कंसोल पृष्ठभूमि,रंग,पृष्ठ भूमि,टर्मिनल अनुप्रयोग,टर्मिनल
Keywords[hu]=Konsole,kinézet,terminál-háttér,színek,háttér,terminálalkalmazás,terminál
Keywords[is]=konsole,skjáhermir,skjáhermissbakgrunnur,litir,bakgrunnur,terminal application,terminal
Keywords[it]=konsole,schema,sfondo di konsole,colori,sfondo,terminale,shell
Keywords[ja]=konsole,schema,konsole 背景,色,背景,ターミナル アプリケーション,ターミナル
Keywords[ko]=konsole,schema,konsole background,colors,background,terminal application,terminal,콘솔,스키마,콘솔 바탕,색,바탕,터미널,터미날,응용프로그램,응용 프로그램
Keywords[lt]=konsole,schema,konsole background,colors,background,terminal application,terminal, konsolė, schema, konsolės fono spalva, spalvos, fono spalva, terminalinė programa, terminalas
Keywords[lv]=konsole,shēma,konsoles fons,krāsas,fons,termināla aplikācija,termināls
Keywords[mk]=konsole,schema,konsole background,colors,background,terminal application,terminal,конзола,шема,подлога на конзола,позадина на конзола,бои,подлога,позадина,терминалска апликација,терминал
Keywords[mn]=Консол,Өнгөний схем,Дэвсгэр,Өнгө,Терминал
Keywords[mt]=konsole,schema,konsole background,colors,background,terminal application,terminal,skema,sfond,kuluri,emulatur
Keywords[nb]=konsole,oppsett,konsoll,konsollbakgrunn,farger,bakgrunn,terminal
Keywords[nds]=Konsool,Schema,Konsoolachtergrund,Klören,Achtergrund,Terminalprogramm,Terminal
Keywords[nn]=konsoll,oppsett,konsollbakgrunn,fargar,bakgrunn,terminal
Keywords[nso]=konsole,schema,bokamorago bja konsole,mebala,bokamorago,tshomiso ya terminal,terminal
Keywords[pa]=konsole,schema,konsole background,colors,background,terminal application,terminal,ਕੰਨਸੋਲ,ਸਕੀਮ,ਰੰਗ,ਟਰਮੀਨਲ
Keywords[pl]=konsola,schemat,tło konsoli,kolory,tło,program terminala,terminal
Keywords[pt]=konsole,esquema,fundo do konsole,cores,fundo,aplicação de terminal,terminal
Keywords[pt_BR]=konsole,esquema,fundo do konsole,cores,segundo plano,aplicativo de terminal, terminal
Keywords[ro]=consolă,konsole,schemă,fundal,terminal,aplicaţie terminal
Keywords[se]=konsolla,heivehus,konsolladuogás,ivnnit,duogáš,terminála
Keywords[sk]=konsole,schéma,pozadie konzole,konzola,farby,pozadie,terminálová aplikácia,terminál
Keywords[sl]=konsola,shema,ozadje konzole,barve,ozadje,terminalski program,terminal
Keywords[sr]=konsole,schema,konsole background,colors,background,terminal application,terminal,терминал,боје,позадина,шема
Keywords[sr@Latn]=konsole,schema,konsole background,colors,background,terminal application,terminal,terminal,boje,pozadina,šema
Keywords[sv]=konsole,konsoll,schema,konsol bakgrund,färger,bakgrund,terminalprogram,terminal
Keywords[ta]=கான்சோல்,அமைப்பு,கான்சோல் பின்ன்ணி,வண்ணங்கள்,பின்ன்ணி,கடைசி பயன்பாடு,கடைசி
Keywords[th]=คอนโซล K,ชุดรูปแบบ,พื้นหลังคอนโซล,สี,พื้นหลัง,แอพพลิเคชันเทอร์มินอล,เทอร์มินอล
Keywords[tr]=konsol,şema,konsol arkaplanı,renkler,arkaplan,terminal,konsole 
Keywords[uk]=konsole,схема,тло konsole,кольори,тло,програма терміналу,термінал
Keywords[uz]=консол,консолнинг орқа фони,ранглар,орқа фон,терминал дастури,терминал
Keywords[ven]=konsole,tshikimu,vhuvha ha konsole,mivhala ya konsole,theminala,apulifikhesheni ya theminala,theminala
Keywords[vi]=konsole,schema,ảnh nền của kónole,màu,nền,trình đầu cuối,đầu cuối
Keywords[xh]=konsole,schema,imvelaphi ye konsole,imibala,imvelaphi,isicelo sesiphelo sendlela,isiphelo sendlela
Keywords[xx]=xxkonsole,schema,konsole background,colors,background,terminal application,terminalxx
Keywords[zh_CN]=konsole,schema,konsole background,colors,background,terminal application,terminal,颜色,背景色,终端程序,终端
Keywords[zh_TW]=konsole,schema,konsole background,colors,background,terminal application,terminal,配色,konsole 背景,顏色,背景,終端機應用程式,終端機
Keywords[zu]=konsole,iplani,inkundla yekhonsoli,imibala,inkundla, umyaleli wangaphandle,ithuluzi langaphandle
