[Desktop Entry]
Encoding=UTF-8
Icon=konsole
Type=Application
Exec=kcmshell kcmkonsole
DocPath=kcontrol/kcmkonsole/index.html

X-KDE-Library=konsole
X-KDE-ParentApp=kcontrol
Name=Konsole
Name[x-test]=xxKonsolexx
Comment=Konsole configuration module
Comment[fr]=Configuration de Konsole
Comment[x-test]=xxKonsole configuration modulexx
Keywords=konsole,schema,konsole background,colors,background,terminal application,terminal
Keywords[fr]=konsole,modèle,fond,couleurs,terminal
Keywords[x-test]=xxkonsole,schema,konsole background,colors,background,terminal application,terminalxx
