[Desktop Entry]
Type=MimeType
MimeType=application/x-konsole
X-KDE-AutoEmbed=true
Icon=konsole
Patterns=*.shell;
Comment=File to Open a Shell
Comment[af]=Lêer om 'n tolk mee oop te maak
Comment[ar]=ملف لفتح محارة
Comment[az]=Qabığı Açacaq Fayl
Comment[be]=Файл адкрыцця абалонкі
Comment[bg]=Файл за отваряне в конзолата
Comment[bn]=শেল খোলার জন্য ফাইল
Comment[bs]=Datoteka za otvaranje shella
Comment[ca]=Fitxer per a obrir una shell
Comment[cs]=Soubor k otevření příkazové řádky
Comment[csb]=Lopk do òtemkniãcô pòwłoczi
Comment[da]=Fil som skal åbnes i en skal
Comment[de]=Datei zum Öffnen einer Shell
Comment[el]=Αρχείο για άνοιγμα ενός κελύφους
Comment[eo]=Dosiero por malfermi komandinterpretilon
Comment[es]=Archivo para abrir un intérprete de órdenes
Comment[et]=Shelli avamise rakendus
Comment[eu]=Shella irekitzeko fitxategia
Comment[fa]=پرونده برای باز کردن پوسته
Comment[fi]=Tiedosto, joka avaa komentoikkunan
Comment[fr]=Fichier pour ouvrir un « shell »
Comment[fy]=Triem om in flues te iepenjen
Comment[ga]=Comhad a osclaíonn blaosc
Comment[gl]=Ficheiro para abrir unha shell
Comment[he]=קובץ לפתיחת מעטפת
Comment[hi]=शैल खोलने हेतु फ़ाइल
Comment[hr]=Otvaranje ljuske nije uspjelo
Comment[hu]=Parancsértelmező megnyitási fájlja
Comment[is]=Skrá sem opnar skel
Comment[it]=File per aprire una shell
Comment[ja]=シェルを開くファイル
Comment[ka]=გარსის გასახსნელი ფაილი
Comment[kk]=Қоршау-ортада ашатын файл
Comment[km]=ឯកសារ​ដើម្បី​បើក​សែល​មួយ
Comment[lt]=Byla apvalkalo atidarymui
Comment[lv]=Fails čaulas atvēršanai
Comment[mk]=Датотека за отворање на школка
Comment[ms]=Fail untuk Buka Shell
Comment[mt]=Fajl biex jiftaħ shell
Comment[nb]=Fil for å åpne et skall
Comment[nds]=Datei för't Opmaken vun en Konsool
Comment[ne]=शेल खोल्ने फाइल
Comment[nl]=Bestand om een shell te openen
Comment[nn]=Fil for opning av skal
Comment[pa]=ਇੱਕ ਸੈੱਲ ਖੋਲਣ ਲਈ ਫਾਇਲ
Comment[pl]=Plik do otwarcia powłoki
Comment[pt]=Ficheiro para Abrir uma Consola
Comment[pt_BR]=Arquivo para Abrir um Shell
Comment[ro]=Fișier pentru execuția unui interpretor
Comment[ru]=Файл для открытия оболочки
Comment[rw]=Idosiye yo Gufungura Sheli
Comment[se]=Fiila mainna rahpá skálžžu
Comment[sk]=Súbor na otvorenie shellu
Comment[sl]=Datoteka za odprtje lupine
Comment[sr]=Фајл за отварање шкољке
Comment[sr@Latn]=Fajl za otvaranje školjke
Comment[sv]=Fil som ska öppnas i ett skal
Comment[ta]=ஷெல்லை திறப்பதற்கு கோப்பு
Comment[th]=แฟ้มที่จะใช้เปิดเชลล์
Comment[tr]=Kabuk'a Açılacak Dosya
Comment[tt]=Qabıq Açu öçen Birem
Comment[uk]=Файл, який треба відкрити у оболонці
Comment[uz]=Shelni ochish uchun fayl
Comment[uz@cyrillic]=Шелни очиш учун файл
Comment[vi]=Tập tin để Mở một Trình giao diện
Comment[wa]=Fitchî a drovi dins on shell
Comment[zh_CN]=打开 Shell 的文件
Comment[zh_TW]=要打開 shell 的檔案
