[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-konsole
X-KDE-AutoEmbed=true
Icon=konsole
Patterns=*.shell;
Comment=File to Open a Shell
Comment[fr]=Fichier pour ouvrir un « shell »
Comment[x-test]=xxFile to Open a Shellxx
