# KDE Config File  
[KDE Desktop Entry]
Type=Application
Exec=konsole -caption "%c" %i %m 
Icon=konsole
BinaryPattern=konsole; 
MimeType=x-application/konsole
ServiceTypes=Browser/View
X-KDE-Library=libkonsole
Patterns=*.shell

DocPath=konsole/index.html
X-KDE-LibraryName=konsole
X-KDE-FactoryName=visual 

# ???                                                

Comment=Just a test to see if konsole is a good part
Name=konsole
