[Desktop Entry]
Type=Application
Exec=konsole --type su
Icon=utilities-terminal
X-DocPath=konsole/index.html
MimeType=application/x-konsole;
Terminal=false

Name=Konsole (Super User Mode)
Name[ca]=Konsole (mode superusuari)
Name[de]=Konsole (Systemverwaltung)
Name[el]=Konsole (Λειτουργία ως υπερχρήστης)
Name[et]=Konsool (administraator)
Name[eu]=Konsole (super erabiltzaile era)
Name[ga]=Konsole (Mód Forúsáideora)
Name[hu]=Konsole (rendszergazdai mód)
Name[ja]=Konsole (スーパーユーザモード)
Name[km]=កុងសូល (របៀប​អ្នក​ប្រើជាន់ខ្ពស់)
Name[lv]=Konsole (administratora režīms)
Name[nb]=Konsoll (superbrukermodus)
Name[nds]=Konsole (Systeempleegbedrief)
Name[nl]=Konsole (in systeembeheermodus)
Name[nn]=Konsoll (superbrukarmodus)
Name[pl]=Konsola (tryb administratora)
Name[pt]=Konsole (Modo de Super Utilizador)
Name[pt_BR]=Konsole (Modo Super-Usuário)
Name[ru]=Konsole (режим суперпользователя)
Name[sl]=Konzola (skrbniški način)
Name[sr]=Конзола (суперкориснички)
Name[sr@latin]=Konsole (superkorisnički)
Name[sv]=Terminal (Administratörsläge)
Name[th]=Konsole (โหมดผู้ดูแลระบบ)
Name[uk]=Konsole (режим адміністратора)
Name[zh_CN]=Konsole (超级用户模式)
Name[zh_TW]=Konsole（超級使用者模式）
GenericName=Terminal Program (Super User Mode)
GenericName[ca]=Programa de terminal (mode superusuari)
GenericName[de]=Terminal (Systemverwaltung)
GenericName[el]=Πρόγραμμα τερματικού (Λειτουργία ως υπερχρήστης)
GenericName[et]=Terminaliprogramm (administraator)
GenericName[eu]=Terminaleko programa (super erabiltzaile era)
GenericName[ga]=Clár Teirminéil (Mód Forúsáideora)
GenericName[hu]=Parancsértelmező (rendszergazdai mód)
GenericName[ja]=ターミナルプログラム (スーパーユーザモード)
GenericName[km]=កម្មវិធី​ស្ថានីយ (របៀប​អ្នក​ប្រើ​ជាន់ខ្ពស់)
GenericName[lv]=Termināla programma (administratora režīms)
GenericName[nb]=Terminalprogram (superbrukermodus)
GenericName[nds]=Terminalprogramm (Systeempleegbedrief)
GenericName[nl]=Terminalprogramma (in systeembeheermodus)
GenericName[nn]=Terminalprogram (superbrukarmodus)
GenericName[pl]=Terminal (tryb administratora)
GenericName[pt]=Programa de Terminal (Modo de Super Utilizador)
GenericName[pt_BR]=Programa de Terminal (Modo Super-Usuário)
GenericName[ru]=Терминал (режим суперпользователя)
GenericName[sl]=Terminalski program (skrbniški način)
GenericName[sr]=Терминалски програм (суперкориснички)
GenericName[sr@latin]=Terminalski program (superkorisnički)
GenericName[sv]=Terminalprogram (Administratörsläge)
GenericName[th]=โปรแกรมเทอร์มินัล (โหมดผู้ดูแลระบบ)
GenericName[uk]=Програма термінала (режим адміністратора)
GenericName[zh_CN]=终端程序(超级用户模式)
GenericName[zh_TW]=終端機程式（超級使用者模式）
X-KDE-AuthorizeAction=shell_access
Categories=Qt;KDE;System;TerminalEmulator;X-KDE-More;
