[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-executable;
Actions=runInKonsole;
X-KDE-AuthorizeAction=shell_access

[Desktop Action runInKonsole]
TryExec=konsole
Exec=konsole --hold -e %f
Icon=utilities-terminal

Name=Run In Konsole
Name[ar]=شغل في كونسول
Name[az]=Konsole-də başlatmaq
Name[be]=Запусціць у Konsole
Name[be@latin]=Zapuscić u Konsole
Name[bg]=Изпълняване в Konsole
Name[ca]=Executa en el Konsole
Name[ca@valencia]=Executa en Konsole
Name[cs]=Spustit v Konsoli
Name[da]=Kør i Konsole
Name[de]=In Konsole ausführen
Name[el]=Εκτέλεση στο Konsole
Name[en_GB]=Run In Konsole
Name[eo]=Ruli en Konzolo
Name[es]=Ejecutar en Konsole
Name[et]=Käivita Konsoolis
Name[eu]=Exekutatu Konsole-n
Name[fa]=اجرا در کنسول
Name[fi]=Suorita Konsolessa
Name[fr]=Lancer dans Konsole
Name[gl]=Executar en Konsole
Name[he]=הפעלה ב־Konsole
Name[hu]=Futtatás a Konsole programban
Name[ia]=Executa in Konsole
Name[id]=Jalankan Di Konsole
Name[is]=Keyra í Konsole
Name[it]=Esegui in Konsole
Name[ja]=Konsole で実行
Name[ka]=Konsole-ში გაშვება
Name[ko]=Konsole에서 실행
Name[lt]=Paleisti konsolėje
Name[lv]=Palaist ar „Konsole“
Name[nb]=Kjør i Konsole
Name[nds]=Binnen Konsole lopen
Name[nl]=In Konsole uitvoeren
Name[nn]=Køyr i konsoll
Name[pa]=ਕਨਸੋਲ ਵਿੱਚ ਚਲਾਓ
Name[pl]=Uruchom w Konsoli
Name[pt]=Executar no Konsole
Name[pt_BR]=Executar no Konsole
Name[ro]=Rulează în Konsolă
Name[ru]=Запустить в Konsole
Name[sk]=Spustiť v Konsole
Name[sl]=Zaženi v Konsole
Name[sr]=Изврши у Конзоли
Name[sr@ijekavian]=Изврши у Конзоли
Name[sr@ijekavianlatin]=Izvrši u Konsoli
Name[sr@latin]=Izvrši u Konsoli
Name[sv]=Kör i Terminal
Name[ta]=கான்சோலில் இயக்கு
Name[tr]=Konsole’da Çalıştır
Name[uk]=Запустити у Konsole
Name[x-test]=xxRun In Konsolexx
Name[zh_CN]=在 Konsole 中运行
Name[zh_TW]=在 Konsole 中執行

Comment=Run within Konsole
Comment[ar]=شغل في كونسول
Comment[az]=Əmri Konsole-də icra etmək
Comment[be]=Запусціць з дапамогай Konsole
Comment[be@latin]=Zapuscić z dapamohaj Konsole
Comment[bg]=Изпълняване в Konsole
Comment[ca]=Executa al Konsole
Comment[ca@valencia]=Executa en Konsole
Comment[cs]=Spustit v Konsoli
Comment[da]=Kør i Konsole
Comment[de]=In Konsole ausführen
Comment[el]=Εκτέλεση από την Κονσόλα
Comment[en_GB]=Run within Konsole
Comment[eo]=Ruli ene de Konzolo
Comment[es]=Ejecutar en Konsole
Comment[et]=Konsoolis käivitamine
Comment[eu]=Exekutatu Konsole barruan
Comment[fa]=اجرا داخل کنسول
Comment[fi]=Suorita Konsolessa
Comment[fr]=Exécuter dans Konsole
Comment[gl]=Executar dentro de Konsole.
Comment[he]=הפעלה בתוך Konsole
Comment[hu]=Futtatás a Konsole-ban
Comment[ia]=Executa intra Konsole
Comment[id]=Jalankan dalam Konsole
Comment[is]=Keyra innan í Konsole
Comment[it]=Esegui in Konsole
Comment[ka]=Konsole-ის შიგნით გაშვება
Comment[ko]=Konsole에서 실행
Comment[lv]=Palaist ar „Konsole“
Comment[nb]=Kjør inne i Konsole
Comment[nl]=In Konsole uitvoeren
Comment[nn]=Køyr inni konsoll
Comment[pa]=ਕਨਸੋਲ ਵਿੱਚ ਚਲਾਓ
Comment[pl]=Uruchamia przy pomocy Konsoli
Comment[pt]=Executar no Konsole
Comment[pt_BR]=Executar no Konsole
Comment[ro]=Rulează în cadrul Konsolei
Comment[ru]=Выполнить команду в Konsole
Comment[sk]=Spustiť v Konsole
Comment[sl]=Zaženi znotraj Konsole
Comment[sr]=Изврши у Конзоли
Comment[sr@ijekavian]=Изврши у Конзоли
Comment[sr@ijekavianlatin]=Izvrši u Konsoli
Comment[sr@latin]=Izvrši u Konsoli
Comment[sv]=Kör i Terminal
Comment[ta]=கான்சோலுக்குள் இயக்கு
Comment[tr]=Konsol İçinde Çalıştır
Comment[uk]=Запустити у Konsole
Comment[x-test]=xxRun within Konsolexx
Comment[zh_CN]=在 Konsole 中运行
Comment[zh_TW]=在 Konsole 中執行
