[Desktop Entry]
Type=Application
Exec=konsole --type su
Icon=utilities-terminal
X-DocPath=konsole/index.html
MimeType=application/x-konsole;
Terminal=false

Name=Konsole (Super User Mode)
Name[ca]=Konsole (mode superusuari)
Name[ga]=Konsole (Mód Forúsáideora)
Name[ja]=Konsole (スーパーユーザモード)
Name[nb]=Konsoll (superbrukermodus)
Name[nds]=Konsole (Systeempleegbedrief)
Name[nl]=Konsole (in systeembeheermodus)
Name[pt]=Konsole (Modo de Super Utilizador)
Name[pt_BR]=Konsole (Modo Super-Usuário)
Name[sl]=Konzola (skrbniški način)
Name[sv]=Terminal (Administratörsläge)
Name[uk]=Konsole (режим адміністратора)
Name[zh_CN]=Konsole (超级用户模式)
Name[zh_TW]=Konsole（超級使用者模式）
GenericName=Terminal Program (Super User Mode)
GenericName[ca]=Programa de terminal (mode superusuari)
GenericName[ga]=Clár Teirminéil (Mód Forúsáideora)
GenericName[ja]=ターミナルプログラム (スーパーユーザモード)
GenericName[nb]=Terminalprogram (superbrukermodus)
GenericName[nds]=Terminalprogramm (Systeempleegbedrief)
GenericName[nl]=Terminalprogramma (in systeembeheermodus)
GenericName[pt]=Programa de Terminal (Modo de Super Utilizador)
GenericName[pt_BR]=Programa de Terminal (Modo Super-Usuário)
GenericName[sl]=Terminalski program (skrbniški način)
GenericName[sv]=Terminalprogram (Administratörsläge)
GenericName[uk]=Програма термінала (режим адміністратора)
GenericName[zh_CN]=终端程序(超级用户模式)
GenericName[zh_TW]=終端機程式（超級使用者模式）
X-KDE-AuthorizeAction=shell_access
Categories=Qt;KDE;System;TerminalEmulator;X-KDE-More;
