<!DOCTYPE kpartgui>

<kpartgui name="konsole" version="1">
    <MenuBar>
        <Menu name="file"><text>File</text>
            <Action name="new-tab" />
            <Action name="new-window" />
            <!-- <Action name="remote-connection" /> !-->
            <Separator/>
            <ActionList name="favorite-profiles"/>
            <Separator/>
            <DefineGroup name="session-operations"/>
            <Action name="exit" />
        </Menu>
        <Menu name="edit"><text>Edit</text>
            <DefineGroup name="session-edit-operations" />
        </Menu>
        <Menu name="history"><text>Scrollback</text>
            <DefineGroup name="session-history-operations"/>            
        </Menu>
        <Menu name="view"><text>View</text>
            <Menu name="view-split"><text>Split View</text>
            <Action name="split-view-left-right"/>
            <Action name="split-view-top-bottom"/>
            <Action name="close-active-view"/>
            <Action name="close-other-views"/>
            <Action name="expand-active-view"/>
            <Action name="shrink-active-view"/>
            </Menu>
            <Separator/>
            <Action name="detach-view"/>
            <Action name="merge-windows"/>
            <Separator/>
            <Action name="show-menubar"/>
            <Action name="view-full-screen"/>
            <Separator/>
            <DefineGroup name="session-view-operations"/> 
        </Menu>
        <Action name="bookmark"/>
        <Menu name="settings"><text>Settings</text>
            <DefineGroup name="session-settings"/>
            <Action name="manage-profiles"/>
            <Separator/>
            <Action name="configure-notifications"/>
            <Action name="configure-shortcuts"/>
        </Menu>
        <Menu name="help"><text>Help</text>

        </Menu>
    </MenuBar>

    <Menu name="new-session-popup">
        <Action name="new-tab" />
        <Action name="new-window" />
        <Separator/>
        <ActionList name="new-session-types"/> 
    </Menu>
</kpartgui>

