[Desktop Entry]
Type=Application
Exec=konsole
Icon=utilities-terminal
X-DocPath=konsole/index.html
Terminal=false
X-KDE-StartupNotify=true

Name=Konsole
Name[bn]=কনসোল
Name[csb]=Kònsola
Name[el]=Κονσόλα
Name[et]=Konsool
Name[eu]=Kontsola
Name[gu]=કોન્સોલ
Name[hi]=कंसोल
Name[hr]=Konzola
Name[is]=Skjáhermir
Name[ka]=კონსოლი
Name[km]=កុងសូល
Name[kn]=ಕನ್ಸೋಲ್
Name[ku]=Konsol
Name[mk]=Конзола
Name[ne]=कन्सोल
Name[nn]=Konsoll
Name[pa]=ਕਨਸੋਲ
Name[pl]=Konsola
Name[ro]=Consolă
Name[ru]=Консоль
Name[se]=Konsolla
Name[sk]=Konzola
Name[sl]=Konzola
Name[sr]=Конзола
Name[ta]=கான்சோல்
Name[te]=కాన్సోల్
Name[tg]=Консол
Name[th]=คอนโซล K
Name[x-test]=xxKonsolexx

GenericName=Terminal
GenericName[el]=Τερματικό
GenericName[eo]=Terminalo
GenericName[ga]=Teirminéal
GenericName[gu]=ટર્મિનલ
GenericName[hu]=Terminál
GenericName[ja]=ターミナル
GenericName[km]=ស្ថានីយ
GenericName[ko]=터미널
GenericName[nds]=Konsool
GenericName[ru]=Терминал
GenericName[sr]=Терминал
GenericName[th]=เทอร์มินัล
GenericName[tr]=Uçbirim
GenericName[uk]=Термінал
GenericName[x-test]=xxTerminalxx
GenericName[zh_CN]=终端
GenericName[zh_TW]=終端機
X-DBUS-StartupType=Unique
X-KDE-AuthorizeAction=shell_access
Categories=Qt;KDE;System;TerminalEmulator;
