[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-executable;
Actions=runInKonsole;
X-KDE-AuthorizeAction=shell_access

[Desktop Action runInKonsole]
TryExec=konsole
Exec=konsole --hold -e %f
Icon=utilities-terminal

Name=Run In Konsole
Name[ca]=Executa en el Konsole
Name[ca@valencia]=Executa en el Konsole
Name[cs]=Spustit v Konsoli
Name[da]=Kør i Konsole
Name[de]=In Konsole ausführen
Name[el]=Εκτέλεση στο Konsole
Name[es]=Ejecutar en Konsole
Name[fi]=Suorita Konsolessa
Name[fr]=Lancer dans Konsole
Name[gl]=Executar en Konsole
Name[he]=הפעל בתוך Konsole
Name[hu]=Futtatás a Konsole programban
Name[ia]=Executa in Konsole
Name[is]=Keyra í Konsole skjáhermi
Name[it]=Esegui in Konsole
Name[ko]=Konsole에서 실행
Name[nb]=Kjør i Konsole
Name[nds]=Binnen Konsole lopen
Name[nl]=In Konsole uitvoeren
Name[pa]=ਕੰਨਸੋਲ ਵਿੱਚ ਚਲਾਓ
Name[pl]=Uruchom w konsoli
Name[pt]=Executar no Konsole
Name[pt_BR]=Executar no Konsole
Name[ro]=Rulează în Konsolă
Name[ru]=Запустить в Konsole
Name[sk]=Spustiť v Konsole
Name[sl]=Zaženi v Konzoli
Name[sr]=Изврши у Конзоли
Name[sr@ijekavian]=Изврши у Конзоли
Name[sr@ijekavianlatin]=Izvrši u Konsoli
Name[sr@latin]=Izvrši u Konsoli
Name[sv]=Kör i Terminal
Name[tr]=Konsole İçinde Çalıştır
Name[uk]=Запустити у Konsole
Name[x-test]=xxRun In Konsolexx
Name[zh_CN]=在 Konsole 中运行
Name[zh_TW]=在 Konsole 中執行
