[Desktop Entry]
Type=Application
Exec=konsole --type su
Icon=utilities-terminal
X-DocPath=konsole/index.html
MimeType=application/x-konsole;
Terminal=false

Name=Konsole (Super User Mode)
GenericName=Terminal Program (Super User Mode)
X-KDE-AuthorizeAction=shell_access
Categories=Qt;KDE;System;TerminalEmulator;X-KDE-More;
