[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=openTerminalHere;
X-KDE-AuthorizeAction=shell_access

[Desktop Action openTerminalHere]
TryExec=konsole
Exec=konsole --workdir %f
Icon=utilities-terminal

Name=Open Terminal Here
Name[af]=Maak Terminaal Hier Oop
Name[ar]=افتح الطرفية هنا
Name[ast]=Abrir terminal equí
Name[be]=Адкрыць тэрмінал тут
Name[be@latin]=Adčyni terminał
Name[bg]=Отваряне на терминал тук
Name[bn]=এখানে টার্মিনাল খোলো 
Name[bn_IN]=এইস্থানে টার্মিন্যাল আরম্ভ করুন
Name[br]=Digeriñ un termenell amañ
Name[bs]=Otvori terminal ovdje
Name[ca]=Obre un terminal aquí
Name[ca@valencia]=Obri un terminal ací
Name[cs]=Otevřít terminál zde
Name[csb]=Òtemkni tuwò terminal
Name[cy]=Agor Terfynell Yma
Name[da]=Åbn terminal her
Name[de]=Terminal hier öffnen
Name[el]=Άνοιγμα τερματικού εδώ
Name[en_GB]=Open Terminal Here
Name[eo]=Malfermi terminalon ĉi tie
Name[es]=Abrir terminal aquí
Name[et]=Ava siin terminal
Name[eu]=Ireki terminala hemen
Name[fa]=باز کردن پایانه در اینجا
Name[fi]=Avaa pääteikkuna tähän
Name[fr]=Ouvrir un terminal ici
Name[fy]=Terminal iepenje
Name[ga]=Oscail Teirminéal Anseo
Name[gl]=Abrir unha terminal aquí
Name[gu]=અહીં ટર્મિનલ ખોલો
Name[he]=פתיחת מסוף מכאן
Name[hi]=टर्मिनल यहाँ खोलें
Name[hne]=टर्मिनल इहां खोलव
Name[hr]=Ovdje otvori terminal
Name[hsb]=Terminal tu wočinić
Name[hu]=Parancsértelmező megnyitása itt
Name[ia]=Aperi le terminal ci
Name[id]=Buka Terminal Di Sini
Name[is]=Opna skjáhermi hér
Name[it]=Apri terminale qui
Name[ja]=ここでターミナルを開く
Name[ka]=ტერმინალის აქ გახსნა
Name[kk]=Терминалды ашу
Name[km]=បើក​ស្ថានីយ​នៅ​​ទីនេះ
Name[kn]=ಆದೇಶತೆರೆಯನ್ನು (ಟರ್ಮಿನಲ್) ಇಲ್ಲಿ ತೆರೆ
Name[ko]=여기에서 터미널 열기
Name[ku]=Termînalê li virê veke
Name[lt]=Atverti čia terminalą
Name[lv]=Atvērt termināli šeit
Name[mai]=टर्मिनल एतय खोलू
Name[mk]=Отвори терминал тука
Name[ml]=ഇവിടെ ടെര്‍മിനല്‍ തുറക്കുക 
Name[mr]=टर्मिनल येथे उघडा
Name[ms]=Buka Terminal Di Sini
Name[nb]=Åpne terminal her
Name[nds]=Konsool hier opmaken
Name[ne]=यहाँ टर्मिनल खोल्नुहोस्
Name[nl]=Terminal openen
Name[nn]=Opna terminal her
Name[oc]=Dobrir un terminal aicí
Name[or]=ଏଠାରେ ଟର୍ମିନାଲ ଖୋଲନ୍ତୁ
Name[pa]=ਟਰਮੀਨਲ ਇੱਥੇ ਖੋਲ੍ਹੋ
Name[pl]=Otwórz tutaj terminal
Name[pt]=Abrir um Terminal Aqui
Name[pt_BR]=Abrir o terminal aqui
Name[ro]=Deschide un terminal aici
Name[ru]=Открыть терминал в этой папке
Name[se]=Raba terminála dáppe
Name[si]=මෙහි අග්‍රය විවෘත කරන්න
Name[sk]=Tu otvoriť terminál
Name[sl]=Odpri terminal tukaj
Name[sr]=Отвори терминал овде
Name[sr@ijekavian]=Отвори терминал овдје
Name[sr@ijekavianlatin]=Otvori terminal ovdje
Name[sr@latin]=Otvori terminal ovde
Name[sv]=Öppna terminal här
Name[ta]=முனைய இங்கே திற
Name[te]=టెర్మినల్‌ను ఇక్కడ తెరువుము
Name[tg]=Терминалро дар ин ҷо кушоед
Name[th]=เปิดเทอร์มินัลที่นี่
Name[tr]=Uçbirimi Burada Aç
Name[ug]=بۇ يەردە تېرمىنالنى ئاچ
Name[uk]=Відкрити термінал
Name[uz]=Terminalni shu yerda ochish
Name[uz@cyrillic]=Терминални шу ерда очиш
Name[vi]=Mở cửa sổ dòng lệnh ở đây
Name[wa]=Drovi on terminå chal
Name[xh]=Vula Isiphelo Sendlela Apha
Name[x-test]=xxOpen Terminal Herexx
Name[zh_CN]=在此打开终端
Name[zh_TW]=在這裡開啟終端機
