[Desktop Entry]
Type=Service
Icon=utilities-terminal
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View,inode/directory,TerminalEmulator

X-KDE-Library=libkonsolepart
X-KDE-BrowserView-AllowAsDefault=false
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-Toggable=true
X-KDE-BrowserView-ToggableView-Orientation=horizontal
X-KDE-BrowserView-FollowActive=true

Name=Terminal Emulator
X-KDE-AuthorizeAction=shell_access
