<!DOCTYPE kpartgui>

<kpartgui name="konsole">
    <MenuBar>
        <Menu name="file"><text>File</text>
            <Action name="new-tab" />
            <Action name="new-window" />
            <Action name="remote-connection" />
            <Action name="custom-session" />
            <Separator/>
            <ActionList name="new-session-types"/>
            <Separator/>
            <DefineGroup name="session-operations"/>
            <Action name="exit" />
        </Menu>
        <Menu name="edit"><text>Edit</text>
            <DefineGroup name="session-edit-operations" />
        </Menu>
        <Menu name="history"><text>History</text>
            <DefineGroup name="session-history-operations"/>            
        </Menu>
        <Menu name="view"><text>View</text>
            <DefineGroup name="session-view-operations"/> 
            <Separator/>
            <Action name="split-view-left-right"/>
            <Action name="split-view-top-bottom"/>
            <Action name="close-active-view"/>
            <Action name="close-other-views"/>
            <Separator/>
            <Action name="detach-view"/>
            <Action name="merge-windows"/>
            <Separator/>
            <Action name="hide-menubar"/>
        </Menu>
        <Action name="bookmark"/>
        <Menu name="settings"><text>Settings</text>
            <DefineGroup name="session-settings"/>
            <Separator/>
            <Action name="configure-notifications"/>
            <Action name="configure-shortcuts"/>
        </Menu>
        <Menu name="help"><text>Help</text>

        </Menu>
    </MenuBar>

    <Menu name="new-session-popup">
        <Action name="new-tab" />
        <Action name="new-window" />
        <Separator/>
        <ActionList name="new-session-types"/> 
    </Menu>
</kpartgui>

