[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View,inode/directory,TerminalEmulator
Icon=utilities-terminal

X-KDE-Library=konsolepart
X-KDE-BrowserView-AllowAsDefault=false
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-Toggable=true
X-KDE-BrowserView-ToggableView-Orientation=horizontal
X-KDE-BrowserView-FollowActive=true

X-KDE-AuthorizeAction=shell_access

Name=Terminal Emulator
Name[de]=Terminal-Emulator
Name[en_GB]=Terminal Emulator
Name[fr]=Émulateur de terminal
Name[hu]=Parancsértelmező
Name[pt_BR]=Emulador de Terminal
Name[uk]=Емулятор термінала
Name[x-test]=xxTerminal Emulatorxx
