[Desktop Entry]
Type=Application
Exec=konsole
Icon=utilities-terminal
X-DocPath=konsole/index.html
Terminal=false
X-KDE-StartupNotify=true

Name=Konsole
Name[bn]=কনসোল
Name[csb]=Kònsola
Name[el]=Κονσόλα
Name[et]=Konsool
Name[eu]=Kontsola
Name[hi]=कंसोल
Name[hr]=Konzola
Name[is]=Skjáhermir
Name[ka]=კონსოლი
Name[km]=កុងសូល
Name[ku]=Konsol
Name[mk]=Конзола
Name[ne]=कन्सोल
Name[nn]=Konsoll
Name[pa]=ਕਨਸੋਲ
Name[pl]=Konsola
Name[ro]=Consolă
Name[ru]=Консоль
Name[se]=Konsolla
Name[sk]=Konzola
Name[sl]=Konzola
Name[sr]=Конзола
Name[ta]=கான்சோல்
Name[te]=కాన్సోల్
Name[tg]=Консол
Name[x-test]=xxKonsolexx

GenericName=Terminal Program
GenericName[af]=Terminaal Program
GenericName[ar]=برنامج طرفيّة
GenericName[be]=Тэрмінал
GenericName[bg]=Терминална програма
GenericName[bn]=টার্মিনাল প্রোগ্রাম
GenericName[br]=Goulev termenell
GenericName[ca]=Programa de terminal
GenericName[cs]=Terminálový program
GenericName[csb]=Programa terminala
GenericName[cy]=Rhaglen Terfynell
GenericName[da]=Terminalprogram
GenericName[de]=Terminalprogramm
GenericName[el]=Πρόγραμμα τερματικού
GenericName[eo]=Terminalimitaĵo
GenericName[es]=Programa de terminal
GenericName[et]=Terminaliemulaator
GenericName[eu]=Terminal programa
GenericName[fa]=برنامۀ پایانه
GenericName[fi]=Komentoikkunaohjelma
GenericName[fr]=Terminal
GenericName[fy]=Terminalprogramma
GenericName[ga]=Clár Teirminéil
GenericName[gl]=Programa de terminal
GenericName[he]=תוכנית מסוף
GenericName[hi]=टर्मिनल प्रोग्राम
GenericName[hr]=Terminalski program
GenericName[hu]=Parancsértelmező
GenericName[is]=Skjáhermir
GenericName[it]=Programma terminale
GenericName[ja]=ターミナルプログラム
GenericName[ka]=პროგრამა ტერმინალისთვის
GenericName[kk]=Терминал бағдарламасы
GenericName[km]=កម្មវិធី​ស្ថានីយ
GenericName[ko]=터미널 프로그램
GenericName[ku]=Bernameya Termînalê
GenericName[lt]=Terminalo programa
GenericName[lv]=Termināla programma
GenericName[mk]=Терминалска програма
GenericName[ms]=Program Terminal
GenericName[nb]=Terminalprogram
GenericName[nds]=Terminal-Programm
GenericName[ne]=टर्मिनल कार्यक्रम
GenericName[nl]=Terminalprogramma
GenericName[nn]=Terminalprogram
GenericName[pa]=ਟਰਮੀਨਲ ਪਰੋਗਰਾਮ
GenericName[pl]=Program terminala
GenericName[pt]=Programa de Terminal
GenericName[pt_BR]=Programa de Terminal
GenericName[ro]=Program terminal
GenericName[ru]=Терминал
GenericName[se]=Terminálaprográmma
GenericName[sk]=Terminál
GenericName[sl]=Terminalski program
GenericName[sr]=Терминалски програм
GenericName[sr@latin]=Terminalski program
GenericName[sv]=Terminalprogram
GenericName[ta]=கடைசி நிரலி
GenericName[tg]=Барномаи поёна
GenericName[th]=โปรแกรมเทอร์มินัล
GenericName[tr]=Terminal Programı
GenericName[uk]=Програма терміналу
GenericName[uz]=Терминал дастури
GenericName[vi]=Trình đầu cuối
GenericName[wa]=Programe di terminå
GenericName[x-test]=xxTerminal Programxx
GenericName[xh]=Inkqubo Yesixhobo sangaphandle sekhompyutha
GenericName[zh_CN]=终端程序
GenericName[zh_TW]=終端機程式
X-DBUS-StartupType=Unique
X-KDE-AuthorizeAction=shell_access
Categories=Qt;KDE;System;TerminalEmulator;
