[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=konsole --script
Icon=konsole
DocPath=konsole/index.html
Terminal=false
X-KDE-StartupNotify=true

Name=Konsole
Name[x-test]=xxKonsolexx

GenericName=Terminal Program
GenericName[fr]=Terminal
GenericName[x-test]=xxTerminal Programxx
X-DBUS-StartupType=Multi
X-KDE-AuthorizeAction=shell_access
Categories=Qt;KDE;System;TerminalEmulator;
