[Desktop Entry]
Type=Service
Icon=utilities-terminal
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View,inode/directory,TerminalEmulator

X-KDE-Library=libkonsolepart
X-KDE-BrowserView-AllowAsDefault=false
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-Toggable=true
X-KDE-BrowserView-ToggableView-Orientation=horizontal
X-KDE-BrowserView-FollowActive=true

Name=Terminal Emulator
Name[af]=Terminaal Emulasie
Name[ar]=محاكي الطرفية
Name[be]=Эмулятар тэрміналу
Name[bg]=Конзолна програма
Name[bn]=টার্মিনাল এমুলেটর
Name[br]=Kendarvanerezh termenell
Name[ca]=Emulador de terminal
Name[cs]=Emulátor terminálu
Name[csb]=Emùlator terminala
Name[cy]=Efelychydd Terfynell
Name[da]=terminalemulator
Name[de]=Terminal-Emulator
Name[el]=Προσομοιωτής τερματικού
Name[eo]=Terminala imitilo
Name[es]=Emulador de terminal
Name[et]=Terminaliemulaator
Name[eu]=Terminal emuladorea
Name[fa]=مقلد پایانه
Name[fi]=Komentoikkuna
Name[fr]=Émulateur de terminal
Name[fy]=Terminal
Name[ga]=Aithriseoir Teirminéil
Name[gl]=Emulador de terminal
Name[gu]=ટર્મિનલ ઇમ્યુલેટર
Name[he]=הדמיית מסוף
Name[hi]=टर्मिनल एमुलेटर
Name[hr]=Emulator terminala
Name[hu]=Parancsértelmező
Name[is]=Skjáhermir KDE
Name[it]=Emulatore di terminale
Name[ja]=ターミナルエミュレータ
Name[ka]=ტერმინალის ემულატორი
Name[kk]=Терминал эмуляторы
Name[km]=កម្មវិធី​​ត្រាប់​តាម​ស្ថានីយ
Name[kn]=ಆದೇಶತೆರೆ ಅನುವರ್ತಕ (ಎಮುಲೇಟರ್)
Name[ko]=터미널 에뮬레이터
Name[lt]=Terminalo emuliatorius
Name[lv]=Termināla emulators
Name[mk]=Терминалски емулатор
Name[ms]=Pelagak Terminal
Name[nb]=Terminalemulator
Name[nds]=Terminal-Emulator
Name[ne]=टर्मिनल इमुलेटर
Name[nl]=Terminal
Name[nn]=Terminalemulator
Name[pa]=ਟਰਮੀਨਲ ਸਮਰੂਪ
Name[pl]=Emulator terminala
Name[pt]=Emulador de Terminal
Name[pt_BR]=Emulador de Terminal
Name[ro]=Emulator de terminal
Name[ru]=Эмулятор терминала
Name[se]=Terminálemuláhtor
Name[sk]=Emulátor terminálu
Name[sl]=Terminalski emulator
Name[sr]=Емулатор терминала
Name[sr@latin]=Emulator terminala
Name[sv]=Terminalemulator
Name[ta]=கடைசி போட்டியாளர்
Name[te]=టెర్మినల్ ఎములేటర్
Name[tg]=Эмулятори поёна
Name[th]=โปรแกรมจำลองเทอร์มินัล
Name[tr]=Uçbirim Öykünücüsü
Name[uk]=Емуляція терміналу
Name[uz]=Терминал эмулятори
Name[vi]=Mô phỏng thiết bị cuối
Name[wa]=Programes terminås
Name[x-test]=xxTerminal Emulatorxx
Name[xh]=Umzami kulinganisela ngokulinganayo Wendlela yesiphelo
Name[zh_CN]=终端仿真器
Name[zh_TW]=終端機模擬程式
X-KDE-AuthorizeAction=shell_access
