[Desktop Entry]
Type=Application
TryExec=konsole
Exec=konsole
Icon=utilities-terminal
Categories=Qt;KDE;System;TerminalEmulator;
Actions=NewWindow;NewTab;
X-DocPath=konsole/index.html
StartupNotify=true
X-KDE-AuthorizeAction=shell_access
X-KDE-Shortcuts=Ctrl+Alt+T
StartupWMClass=konsole
Keywords=terminal;console;script;run;execute;command;command-line;commandline;cli;bash;sh;shell;zsh;cmd;command prompt;xterm;tty;pty;fish;konsole
Keywords[ar]=طرفية;كونسول;سكربت;شغل;نفذ;أوامر;سطر-الأوامر;سطر الأوامر;cli;باش;صدفة;شل;pty;fish;كونسول;zsh
Keywords[bg]=terminal;console;script;run;execute;command;command-line;commandline;cli;bash;sh;shell;zsh;cmd;command prompt;xterm;tty;pty;fish;konsole
Keywords[ca]=terminal;consola;script;executar;ordre;línia d'ordres;línia ordres;cli;bash;sh;shell;zsh;cmd;indicador d'ordres;xterm;tty;pty;fish;konsole
Keywords[ca@valencia]=terminal;consola;script;executar;ordre;línia d'ordres;línia ordres;cli;bash;sh;shell;zsh;cmd;indicador d'ordres;xterm;tty;pty;fish;konsole
Keywords[es]=terminal;consola;script;guion;guión;lanzar;ejecutar;comando;orden;línea de órdenes;línea de comandos;cli;bash;sh;shell;intérprete;zsh;cmd;introducción de órdenes;xterm;tty;pty;fish;konsole
Keywords[eu]=terminala;kontsola;script;gidoia;run;ibili;exekutatu;komandoa;komando-lerroa;cli;bash;sh;shell;oskola;zsh;cmd;komando-gonbita;xterm;tty;pty;fish;konsole
Keywords[fr]=terminal ; console ; script ; lancer ; exécuter ; commande ; ligne de commandes ; commande en ligne ; cli ; bash ; sh ; shell ; zsh ; cmd ; invite de commandes ; xterm ; tty : pty ; fish ; konsole
Keywords[he]=מסוף;מסופון;סקריפט;תסריט;הפעלה;שיגור;הזנקה;הרצה;שורת פקודה;באש;בש;שאל;של;טרמינל;קונסול;פיש
Keywords[it]=terminale;console;script;esegui;comando;riga di comando;cli;bash;sh;shell;zsh;cmd;prompt dei comandi;xterm;tty;pty;fish;konsole
Keywords[ka]=terminal;console;script;run;execute;command;command-line;commandline;cli;bash;sh;shell;zsh;cmd;command prompt;xterm;tty;pty;fish;konsole
Keywords[nl]=terminal;console;script;run;uitvoeren;commando;commandoregel;cli;bash;sh;shell;zsh;cmd;commando-prompt;xterm;tty;pty;fish;konsole
Keywords[pt_BR]=terminal;console;script;executar;rodar;comando;linha de comando;cli;bash;sh;shell;zsh;cmd;prompt de comando;xterm;tty;pty;fish;konsole
Keywords[ru]=terminal;console;script;run;execute;command;command-line;commandline;cli; bash;sh;shell;zsh;cmd;command prompt;xterm;tty;pty;fish;konsole;терминал;консоль;сценарий;запустить; выполнить;команда;командная строка;оболочка
Keywords[sl]=terminal;konzola;script;zaženi;izvedi;ukaz;ukazna vrstica;ukazna-vrstica;cli;bash;sh;shell;zsh;cmd;ukazni poziv;xterm;tty;pty;fish;konsole
Keywords[tr]=uçbirim;terminal;konsol;betik;yürüt;komut;komut-satırı;komut satırı;cli;bash;sh;kabuk;shell;zsh;cmd;komut istemi;çalıştır;yürüt;run;execute;cmd;command;xterm;tty;pty;fish;konsole
Keywords[uk]=terminal;console;script;run;execute;command;command-line;commandline;cli;bash;sh;shell;zsh;cmd;command prompt;термінал;консоль;скрипт;сценарій;виконати;запустити;команда;командний рядок;клі;командний інтерфейс;баш;оболонка;шел;зш;кмд;командний запит;xterm;tty;pty;fish;konsole
Keywords[zh_CN]=terminal;console;script;run;execute;command;command-line;commandline;cli;bash;sh;shell;zsh;cmd;command prompt;xterm;tty;pty;fish;konsole;终端;控制台;脚本;执行;运行;命令;命令行;命令行界面;外壳;命令行提示;zhongduan;kongzhitai;jiaoben;zhixing;yunxing;mingling;minglinghang;minglinghangjiemian;waike;minglinghangtishi
Keywords[zh_TW]=終端機;主控台;主控臺;文稿;指令稿;執行;指令;命令;命令列;指令列;殼層;命令提示字元

Name=Konsole
Name[af]=Konsole
Name[ar]=كونسول
Name[as]=Konsole
Name[ast]=Konsole
Name[az]=Konsole
Name[be]=Konsole
Name[be@latin]=Konsole
Name[bg]=Konsole
Name[bn]=কনসোল
Name[bn_IN]=Konsole
Name[br]=Konsole
Name[bs]=Konzola
Name[ca]=Konsole
Name[ca@valencia]=Konsole
Name[cs]=Konsole
Name[csb]=Kònsola
Name[cy]=Konsole
Name[da]=Konsole
Name[de]=Konsole
Name[el]=Κονσόλα
Name[en_GB]=Konsole
Name[eo]=Konsole
Name[es]=Konsole
Name[et]=Konsool
Name[eu]=Konsole
Name[fa]=کنسول
Name[fi]=Konsole
Name[fr]=Konsole
Name[fy]=Konsole
Name[ga]=Konsole
Name[gl]=Konsole
Name[gu]=કોન્સોલ
Name[he]=Konsole
Name[hi]=कंसोल
Name[hne]=कंसोल
Name[hr]=Konsole
Name[hsb]=Konsola
Name[hu]=Konsole
Name[ia]=Konsole
Name[id]=Konsole
Name[is]=Konsole
Name[it]=Konsole
Name[ja]=Konsole
Name[ka]=Konsole
Name[kk]=Konsole
Name[km]=កុងសូល
Name[kn]=ಕನ್ಸೋಲ್
Name[ko]=Konsole
Name[ku]=Konsol
Name[lt]=Konsole
Name[lv]=Konsole
Name[mai]=कंसोल
Name[mk]=Конзола
Name[ml]=കണ്‍സോള്‍
Name[mr]=कंसोल
Name[ms]=Konsole
Name[nb]=Konsole
Name[nds]=Konsole
Name[ne]=कन्सोल
Name[nl]=Konsole
Name[nn]=Konsoll
Name[or]=କୋଲସୋଲ
Name[pa]=ਕਨਸੋਲ
Name[pl]=Konsola
Name[pt]=Konsole
Name[pt_BR]=Konsole
Name[ro]=Konsolă
Name[ru]=Konsole
Name[sa]=सान्त्वनम्
Name[se]=Konsolla
Name[si]=කන්සෝල්
Name[sk]=Konsole
Name[sl]=Konsole
Name[sr]=Конзола
Name[sr@ijekavian]=Конзола
Name[sr@ijekavianlatin]=Konsole
Name[sr@latin]=Konsole
Name[sv]=Terminal
Name[ta]=கான்சோல்
Name[te]=కాన్సోల్
Name[tg]=Консол
Name[th]=Konsole
Name[tr]=Konsole
Name[ug]=Konsole
Name[uk]=Konsole
Name[uz]=Konsole
Name[uz@cyrillic]=Konsole
Name[vi]=Konsole
Name[wa]=Konsole
Name[xh]=Konsole
Name[zh_CN]=Konsole 终端
Name[zh_TW]=Konsole

GenericName=Terminal
GenericName[af]=Terminaal
GenericName[ar]=طرفيّة
GenericName[as]=টাৰ্মিনেল
GenericName[ast]=Terminal
GenericName[az]=Terminal
GenericName[be]=Тэрмінал
GenericName[be@latin]=Terminal
GenericName[bg]=Терминал
GenericName[bn]=টার্মিনাল
GenericName[bn_IN]=টার্মিন্যাল
GenericName[bs]=Terminal
GenericName[ca]=Terminal
GenericName[ca@valencia]=Terminal
GenericName[cs]=Terminál
GenericName[csb]=Terminal
GenericName[da]=Terminal
GenericName[de]=Terminal
GenericName[el]=Τερματικό
GenericName[en_GB]=Terminal
GenericName[eo]=Terminalo
GenericName[es]=Terminal
GenericName[et]=Terminal
GenericName[eu]=Terminala
GenericName[fa]=پایانه
GenericName[fi]=Pääteikkuna
GenericName[fr]=Terminal
GenericName[fy]=Terminal
GenericName[ga]=Teirminéal
GenericName[gl]=Terminal
GenericName[gu]=ટર્મિનલ
GenericName[he]=מסוף
GenericName[hi]=टर्मिनल
GenericName[hne]=टर्मिनल
GenericName[hr]=Terminal
GenericName[hsb]=Terminal
GenericName[hu]=Terminál
GenericName[ia]=Terminal
GenericName[id]=Terminal
GenericName[is]=Skjáhermir
GenericName[it]=Terminale
GenericName[ja]=ターミナル
GenericName[ka]=ტერმინალი
GenericName[kk]=Терминал
GenericName[km]=ស្ថានីយ
GenericName[kn]=ಆದೇಶತೆರೆ (ಟರ್ಮಿನಲ್)
GenericName[ko]=터미널
GenericName[ku]=Termînal
GenericName[lt]=Terminalas
GenericName[lv]=Terminālis
GenericName[mai]=टर्मिनल
GenericName[mk]=Терминал
GenericName[ml]=ടെര്‍മിനല്‍
GenericName[mr]=टर्मिनल
GenericName[nb]=Terminal
GenericName[nds]=Konsool
GenericName[nl]=Terminal
GenericName[nn]=Terminal
GenericName[or]=ଟର୍ମିନାଲ
GenericName[pa]=ਟਰਮੀਨਲ
GenericName[pl]=Terminal
GenericName[pt]=Terminal
GenericName[pt_BR]=Terminal
GenericName[ro]=Terminal
GenericName[ru]=Терминал
GenericName[sa]=टर्मिनल्
GenericName[se]=Terminal
GenericName[si]=අග්‍රය
GenericName[sk]=Terminál
GenericName[sl]=Terminal
GenericName[sr]=Терминал
GenericName[sr@ijekavian]=Терминал
GenericName[sr@ijekavianlatin]=Terminal
GenericName[sr@latin]=Terminal
GenericName[sv]=Terminal
GenericName[ta]=முனையம்
GenericName[te]=టెర్మినల్
GenericName[tg]=Терминал
GenericName[th]=เทอร์มินัล
GenericName[tr]=Uçbirim
GenericName[ug]=تېرمىنال
GenericName[uk]=Термінал
GenericName[uz]=Terminal
GenericName[uz@cyrillic]=Терминал
GenericName[wa]=Terminå
GenericName[zh_CN]=终端
GenericName[zh_TW]=終端機

Comment=Use the command line
Comment[ar]=استخدم سطر الأوامر
Comment[bg]=Използване на командния ред
Comment[ca]=Ús de la línia d'ordres
Comment[ca@valencia]=Ús de la línia d'ordres
Comment[es]=Usar la línea de órdenes
Comment[eu]=Komando-lerroa erabili
Comment[fr]=Utiliser la ligne de commandes
Comment[he]=להשתמש בשורת הפקודה
Comment[it]=Usa la riga di comando
Comment[ka]=ბრძანების სტრიქონის გამოყენება
Comment[nl]=Gebruik de opdrachtregel
Comment[pt_BR]=Usar a linha de comando
Comment[ru]=Использование командной строки
Comment[sl]=Uporabi ukazno vrstico
Comment[tr]=Komut satırını kullanın
Comment[uk]=Командний рядок
Comment[zh_CN]=使用命令行
Comment[zh_TW]=使用命令列

[Desktop Action NewWindow]
Name=Open New Window
Name[ar]=افتح نافذة جديدة
Name[bg]=Отваряне на нов прозорец
Name[ca]=Obre una finestra nova
Name[ca@valencia]=Obri una finestra nova
Name[es]=Abrir nueva ventana
Name[eu]=Ireki leiho berria
Name[fr]=Ouvrir une nouvelle fenêtre
Name[he]=פתיחת חלון חדש
Name[it]=Apri una nuova finestra
Name[ka]=ახალo ფანჯრის გახსნა
Name[nl]=Nieuw venster openen
Name[pt_BR]=Abrir nova janela
Name[ru]=Открыть новое окно
Name[sl]=Odpri novo okno
Name[tr]=Yeni Pencere Aç
Name[uk]=Відкрити нове вікно
Name[zh_CN]=打开新窗口
Name[zh_TW]=開啟新視窗
Icon=window-new
Exec=konsole

[Desktop Action NewTab]
Name=Open New Tab
Name[ar]=افتح لسانًا جديدًا
Name[bg]=Отваряне на нов раздел
Name[ca]=Obre una pestanya nova
Name[ca@valencia]=Obri una pestanya nova
Name[es]=Abrir nueva pestaña
Name[eu]=Ireki fitxa berria
Name[fr]=Ouvrir un nouvel onglet
Name[he]=פתיחת לשונית חדשה
Name[it]=Apri una nuova scheda
Name[ka]=ახალი ჩანართის გახსნა
Name[nl]=Nieuw tabblad openen
Name[pt_BR]=Abrir nova aba
Name[ru]=Открыть новую вкладку
Name[sl]=Odpri novi zavihek
Name[tr]=Yeni Sekme Aç
Name[uk]=Відкрити нову вкладку
Name[zh_CN]=打开新标签页
Name[zh_TW]=開啟新分頁
Icon=tab-new
Exec=konsole --new-tab
