<!DOCTYPE kpartgui>

<kpartgui name="konsolepart" version="7">
    <Menu name="session-popup-menu">
        <Action name="edit_copy"/>
        <Action name="edit_paste"/>
        <Menu name="history"><text>S&amp;crollback</text>
            <Action name="file_save_as" group="session-history-operations"/>
            <Separator group="session-history-operations"/>
            <Action name="adjust-history" group="session-history-operations"/>
            <Separator group="session-history-operations"/>
            <Action name="clear-history" group="session-history-operations"/>
            <Action name="clear-history-and-reset" group="session-history-operations"/>
        </Menu>
        <Action name="open-browser"/>
        <Separator/>
        <Action name="switch-profile"/>
        <Action name="edit-current-profile"/>
        <Separator/>
        <Action name="close-session"/>
    </Menu>
    <Menu name="switch-profile">
        <text>&amp;Switch Profile</text>
        <ActionList name="profile-list"/>
    </Menu>
</kpartgui>
