<!DOCTYPE kpartgui>

<kpartgui name="konsolepart" version="9">
    <Menu name="session-popup-menu">
        <Action name="edit_copy"/>
        <Action name="edit_paste"/>
        <Action name="web-search"/>
        <Action name="open-browser"/>
        <Separator/>
        <Action name="edit_find"/>
        <Menu name="history"><text>S&amp;crollback</text>
            <Action name="file_save_as" group="session-history-operations"/>
            <Separator group="session-history-operations"/>
            <Action name="adjust-history" group="session-history-operations"/>
            <Separator group="session-history-operations"/>
            <Action name="clear-history" group="session-history-operations"/>
            <Action name="clear-history-and-reset" group="session-history-operations"/>
        </Menu>
        <Separator/>
        <Action name="switch-profile"/>
        <Action name="edit-current-profile"/>
        <Action name="manage-profiles"/>
        <Separator/>
        <Action name="close-session"/>
    </Menu>
</kpartgui>
