[Desktop Entry]
Type=Application
TryExec=konsole
Exec=konsole --background-mode
Icon=utilities-terminal
X-DocPath=konsole/index.html
Terminal=false
X-KDE-StartupNotify=false
Categories=Qt;KDE;System;TerminalEmulator;

Name=Quick Access Terminal
