[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=konsole --background-mode
Icon=konsole
DocPath=konsole/index.html
MimeType=application/x-konsole;
Terminal=false
X-KDE-StartupNotify=false

Name=Quick Access Terminal
Name[de]=Schnellzugrif auf Terminal
Name[el]=Τερματικό γρήγορης πρόσβασης
Name[nds]=Fixtogriep op Terminal
Name[nl]=Snelle terminal
Name[zh_TW]=快速存取終端機
