<!DOCTYPE kpartgui>

<kpartgui name="session">
    <MenuBar>
        <Menu name="file"><text>File</text>
            <Action name="close-session" group="session-operations"/>
        </Menu>
        <Menu name="edit"><text>Edit</text>
            <Action name="copy" group="session-edit-operations" />
            <Action name="paste" group="session-edit-operations" />
            <Action name="rename-session" group="session-edit-operations" />
            <Separator group="session-edit-operations"/>
            <Action name="send-input-to-all" group="session-edit-operations"/>
            <Separator group="session-edit-operations"/>
            <Action name="clear" group="session-edit-operations" />
            <Action name="clear-and-reset" group="session-edit-operations" />
        </Menu>
        <Menu name="history"><text>History</text>
            <Action name="search-history" group="session-history-operations"/>
            <Action name="find-next" group="session-history-operations"/>
            <Action name="find-previous" group="session-history-operations"/>
            <Action name="save-history" group="session-history-operations"/>
            <Separator group="session-history-operations"/>
            <Action name="history-options" group="session-history-operations"/>
            <Separator group="session-history-operations"/>
            <Action name="clear-history" group="session-history-operations"/>
            <Action name="clear-history-and-reset" group="session-history-operations"/>
        </Menu>
        <Menu name="view"><text>View</text>
            <Action name="monitor-silence" group="session-view-operations" />
            <Action name="monitor-activity" group="session-view-operations" />
            <Separator group="session-view-operations"/>
            <Action name="character-encoding"/>
            <Action name="increase-text-size"/>
            <Action name="decrease-text-size"/>
        </Menu>
        <Menu name="settings"><text>Settings</text>
            <Action name="edit-current-profile"/>
        </Menu>
        <!--<Menu name="debug"><text>Debug</text>
            <Action name="debug-process"/>
        </Menu>!-->
    </MenuBar>
    <Menu name="session-popup-menu">
        <Action name="copy"/>
        <Action name="paste"/>
        <Action name="clear-history-and-reset"/>
        <Separator/>
        <Action name="show-menubar"/>
        <Action name="edit-current-profile" />
        <Separator/>
        <Action name="close-session"/>
    </Menu>
</kpartgui>
