[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=TerminalEmulator
X-KDE-Derived=KParts/ReadOnlyPart

Name=Terminal Emulator
Name[de]=Terminal-Emulator
Name[en_GB]=Terminal Emulator
Name[fr]=Émulateur de terminal
Name[hu]=Parancsértelmező
Name[pt_BR]=Emulador de Terminal
Name[uk]=Емулятор термінала
Name[x-test]=xxTerminal Emulatorxx
